{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        {#<li class="breadcrumb-item"> <a href="{{ path('crm_chick') }}">  {{ 'Chick Life Cycle'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Daily Chick Price'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {#<h3 style="text-align: center"></h3>#}
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>

                            <th scope="col">S/N</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Reporting Date</th>
                            <th scope="col">Location</th>
                            <th class=" text-center" scope="col"><i class="feather icon-settings"></i></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.employee.name|default('') }}</td>
                                <td>{{ entity.reportingDate|date('d-m-Y') }}</td>
                                <td>{{ entity.location.name|default('') }}</td>
                                <td>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4,5,6,23],
    'orderable': false
    }]
    });




{% endblock %}
