<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{'Day-old Chicks Price'}}</div>
    </div>

    <div class="portlet-body form">
        <table class="table table-bordered dailyChickPriceDetail" id="datatable">
            <thead>
                <tr>
                    <td>Name of Company</td>
                    {% for chickType in chickTypes %}
                        <td>{{ chickType.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td>{{ feed.name }}</td>
                    {% for chickType in chickTypes %}
                        <td><input class="form-control" type="number" name="chickPriceDetail[]" data-id="{{chickPriceDetail[feed.id][chickType.id] is defined?chickPriceDetail[feed.id][chickType.id].id:'' }}" value="{{ chickPriceDetail[feed.id][chickType.id].price }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
