{% if entities is not empty %}
    <div style="text-align: center">
        <p>{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</p>
        <p>{{ 'UTTARA, DHAKA.'|trans }}</p>
        <p>{{ 'New Farmer Touch Report in Your Area(Minimum 10 farmer each month) Nourish & Others'|trans }}</p>
    </div>
    <table width="100%">
        <thead>
        <tr>
            <th align="left">{{ 'Name of CSO '|trans }}: {{ entities.employeeName|default('N/A') }}</th>
            <th align="left">{{ 'Designation'|trans }} : {{ entities.employeeDesignationName|default('N/A') }}</th>
            <th align="left">{{ 'ID'|trans }} : {{ filterBy.employeeId|default('N/A') }}</th>
            <th align="right">{{ 'Region'|trans }} : {{ entities.employeeRegionName|default('N/A') }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}/{{ "now"|date('Y') }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL. No.'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Date'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Farmer\'s Name'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No.'|trans }}</th>
            <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Culture Species & Quantity (pcs)'|trans }}</th>
            <th scope="col" colspan="4" style="text-align: center">{{ 'Freed Used information (Quantity)'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
        </tr>

        <tr>
            <th scope="col">{{ 'Village'|trans }}</th>
            <th scope="col">{{ 'Upazila/Thana'|trans }}</th>
            <th scope="col">{{ 'District'|trans }}</th>
            {% if species is not empty %}
                {% for fishType in species %}
                    <th>{{ fishType.name }}</th>
                {% endfor %}
            {% endif %}
            <th scope="col">{{ 'Nourish'|trans }}</th>
            <th scope="col">{{ 'Others (Name)'|trans }}</th>
            <th scope="col">{{ 'Culture area (decimal)'|trans }}</th>
            <th scope="col">{{ 'Yearly Feed (Ton)'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for month, entity in entities %}
            {% if entity is iterable %}
                {% for detail in entity %}
                    <tr>
                        {% if loop.index==1 %}
                            <td rowspan="{{ loop.index==1?entity|length:0 }}">{{ month }}</td>
                        {% endif %}
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.visitingDate|date('d-m-Y') }}</td>
                        <td>{{ detail.farmerName|default('N/A') }}</td>
                        <td>N/A</td>
                        <td>{{ detail.farmerThana|default('N/A') }}</td>
                        <td>{{ detail.farmerDistrict|default('N/A') }}</td>
                        <td>{{ detail.farmerMobile|default('N/A') }}</td>
                        {% for item in detail.cultureSpeciesItemAndQty|json_decode() %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td>{{ detail.nourishItemName|default('N/A') }}</td>
                        <td>{{ detail.otherCultureSpecies|default('N/A') }}</td>
                        <td>{{ detail.cultureAreaDecimal|default('N/A') }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                        <td>{{ detail.yearlyFeedUseTon|default('N/A') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endif %}