{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Farmer Touch Report (Fish)'|trans }}</h5>
                {% if entities is not empty %}
                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                        <a target="_blank" href="{{ path('farmer_touch_report_pdf', {'filterBy': filterBy, 'species':species}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                        <a target="_blank" href="{{ path('farmer_touch_report_excel', {'filterBy': filterBy, 'species':species}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_start(searchForm) }}
            <table class="table table-borderd">
                <thead class="thead-dark">
                <tr>
                    <th>
                        {{ form_label(searchForm.startDate, 'Start Date:'|trans) }}
                        {{ form_widget(searchForm.startDate, {'id':'start-date'}) }}
                    </th>
                    <th>
                        {{ form_label(searchForm.endDate, 'End Date:'|trans) }}
                        {{ form_widget(searchForm.endDate, {'id':'end-date'}) }}
                    </th>
                    <th>
                        {{ form_label(searchForm.employee, 'Select Employee:'|trans) }}
                        {{ form_widget(searchForm.employee) }}
                    </th>
                    <th>
                        {{ form_widget(searchForm.filter,{'attr':{'style': 'margin-top:18px'}}) }}
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    {% if entities is not empty %}
        <div class="row">
            <div class="card" style="overflow-x: scroll">
                <div class="card-block">
                    <h3 class="text-center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3>
                    <h5 class="text-center">{{ 'UTTARA, DHAKA.'|trans }}</h5>
                    <h6 class="text-center" style="margin-bottom: 25px">{{ 'New Farmer Touch Report in Your Area(Minimum 10 farmer each month) Nourish & Others'|trans }}</h6>
                    <table class="table table-borderd">
                        <thead class="thead-dark">
                        <tr>
                            <th align="left">{{ 'Name of CSO'|trans }}: {{ entities.employeeName|default('N/A') }}</th>
                            <th align="left">{{ 'Designation'|trans }}: {{ entities.employeeDesignationName|default('N/A') }}</th>
                            <th align="left">{{ 'ID'|trans }}: {{ filterBy.employeeId|default('N/A') }}</th>
                            <th align="right">{{ 'Region'|trans }}: {{ entities.employeeRegionName|default('N/A') }}</th>
                        </tr>
                        </thead>
                    </table>
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}/{{"now"|date('Y') }}</th>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL. No.'|trans }}</th>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'Date'|trans }}</th>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'Farmer\'s Name'|trans }}</th>
                            <th scope="col" colspan="3" style="text-align: center">{{ 'Address'|trans }}</th>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No.'|trans }}</th>
                            <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Culture Species & Quantity (pcs)'|trans }}</th>
                            <th scope="col" colspan="4" style="text-align: center">{{ 'Freed Used information (Quantity)'|trans }}</th>
                            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>

                        </tr>

                        <tr>
                            <th scope="col">{{ 'Village'|trans }}</th>
                            <th scope="col">{{ 'Upazila/Thana'|trans }}</th>
                            <th scope="col">{{ 'District'|trans }}</th>
                            {% if species is not empty %}
                                {% for fishType in species %}
                                    <th scope="col">{{ fishType.name }}</th>
                                {% endfor %}
                            {% endif %}
                            <th scope="col">{{ 'Nourish'|trans }}</th>
                            <th scope="col">{{ 'Others (Name)'|trans }}</th>
                            <th scope="col">{{ 'Culture area (decimal)'|trans }}</th>
                            <th scope="col">{{ 'Yearly Feed (Ton)'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for month, entity in entities %}
                            {% if entity is iterable %}
                                {% for detail in entity %}
                                    <tr>
                                        {% if loop.index==1 %}
                                            <td rowspan="{{ loop.index==1?entity|length:0 }}">{{ month }}</td>
                                        {% endif %}
                                        <td>{{ loop.index }}</td>
                                        <td>{{ detail.visitingDate|date('d-m-Y') }}</td>
                                        <td>{{ detail.farmerName|default('N/A') }}</td>
                                        <td>N/A</td>
                                        <td>{{ detail.farmerThana|default('N/A') }}</td>
                                        <td>{{ detail.farmerDistrict|default('N/A') }}</td>
                                        <td>{{ detail.farmerMobile|default('N/A') }}</td>
                                        {% for item in detail.cultureSpeciesItemAndQty|json_decode() %}
                                            <td>{{ item }}</td>
                                        {% endfor %}
                                        <td>{{ detail.nourishItemName|default('N/A') }}</td>
                                        <td>{{ detail.otherCultureSpecies|default('N/A') }}</td>
                                        <td>{{ detail.cultureAreaDecimal|default('N/A') }}</td>
                                        <td>{{ detail.remarks|default('N/A') }}</td>
                                        <td>{{ detail.yearlyFeedUseTon|default('N/A') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );
    $('#end-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );

{% endblock %}