{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card p-3">
                <div class="row">
                    <div class="col">
                        <div class="car-body">
                            <h3 class="h3 text-center">Find Activities By Date</h3>
                        </div>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="form-group row">
                    <div class="col-md-9 pr-0">
                        {{ form_widget(form.date, {'attr': {'placeholder': 'YYYY-mm-dd'}}) }}
                    </div>
                    <div class="col-md-3 px-0">
                        {{ form_widget(form.FindReport) }}
                    </div>
                </div>
            </div>
            {% for msg in app.flashes('message') %}
                {{ msg }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascriptBlock %}
    $('#form_date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );
{% endblock %}
