{% if entities is not empty %}
    <div style="text-align: center">
        <p>{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</p>
        <p>{{ 'UTTARA, DHAKA - 1230'|trans }}</p>
        <p>{{ 'Farmer\'s Training Report-'~"now"|date('Y')|trans }}</p>
    </div>
    <table width="100%">
        <tr>
            <th colspan="7" align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
            <th colspan="7" align="left">{{ 'Designation'|trans }}: {{ filterBy.employee.designation.name|default('N/A') }}</th>
            <th colspan="6" align="left">{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
            <th colspan="6" align="left">{{ 'ID'|trans }}: {{ filterBy.employee.id|default('N/A') }}</th>
        </tr>
        </thead>
    </table>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL No'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Date of Training'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Agent'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No'|trans }}</th>
            <th scope="col" colspan="4" style="text-align: center">{{ 'Participants Information'|trans }}</th>
            <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Culture Species'|trans }}</th>
            <th scope="col" colspan="{{ materials|length }}" style="text-align: center">{{ 'Training Materials'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Training Topics'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
        </tr>

        <tr>
            <th scope="col">{{ 'SL No'|trans }}</th>
            <th scope="col">{{ 'Farmer\'s Name'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Moble No'|trans }}</th>
            {% for breedType in species %}
                <th scope="col">{{ breedType.name }}</th>
            {% endfor %}

            {% for materialItem in materials %}
                <th scope="col">{{ materialItem['name'] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for key, entity in entities %}
            {% if entity is iterable %}

                {% for detail in entity %}
                    <tr>
                        <td align="center">{{ loop.index }}</td>
                        <td align="center">{{ key }}</td>
                        <td align="center">{{ detail.trainingDate|date('d-m-Y') }}</td>
                        <td align="center">{{ detail.agentName }}</td>
                        <td align="center">{{ detail.agentAddress }}</td>
                        <td align="center">{{ detail.agentMobile }}</td>
                        <td align="center">{{ loop.index }}</td>
                        <td align="center">{{ detail.farmerName|default('') }}</td>
                        <td align="center">{{ detail.farmerAddress|default('') }}</td>
                        <td align="center">{{ detail.farmerMobile|default('') }}</td>
                        {% for item in detail.farmerCapacity|json_decode %}
                            <td align="center">{{ item }}</td>
                        {% endfor %}

                        {% for materialItem in materials %}
                            {% set material = detail.trainingMaterialQty|json_decode %}
                            <td align="center">{{ material[materialItem['id']]|default(0) }}</td>
                        {% endfor %}
                        <td align="center">{{ detail.trainingTopics|default('') }}</td>
                        <td align="center">{{ detail.remarks|default('') }}</td>

                    </tr>

                {% endfor %}

            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}