{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Farmer Training Record (Cattle)'|trans }}</h5>
                    {% if entities is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group"
                             aria-label="Button group with nested dropdown">
                            <a target="_blank"
                               href="{{ path('farmer_training_report_pdf', {'filterBy': filterBy, 'species':species,'materials': materials}) }}"
                               class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank"
                               href="{{ path('farmer_training_report_excel', {'filterBy': filterBy, 'species':species,'materials': materials}) }}"
                               class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3">
                {{ form_start(searchForm) }}
                <table class="table table-borderd">
                    <thead class="thead-dark">
                    <tr>
                        <th>
                            {{ form_label(searchForm.employee, 'Select Employee:'|trans) }}
                            {{ form_widget(searchForm.employee) }}
                        </th>
                        <th>
                            {{ form_widget(searchForm.filter,{'attr':{'style': 'margin-top:18px'}}) }}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% if entities is not empty %}
            <div class="row">
                <div class="card" style="overflow-x: scroll">
                    <div class="card-block">
                        <h3 class="text-center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3>
                        <h5 class="text-center">{{ 'UTTARA, DHAKA - 1230'|trans }}</h5>
                        <h6 class="text-center">{{ 'Month Wise Farmers Training Record'|trans }}</h6>
                        <table class="table table-borderd mt-4" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
                                <th style="text-align: right">{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table table-striped table-bordered table-hover" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'SL No'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
                                <th scope="col" rowspan="2"
                                    style="text-align: center">{{ 'Date of Training'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Agent'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Address'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No'|trans }}</th>
                                <th scope="col" colspan="4" style="text-align: center">{{ 'Participants Information'|trans }}</th>
                                <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Capacity'|trans }}</th>
                                <th scope="col" colspan="{{ materials|length }}" style="text-align: center">{{ 'Training Materials'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Training Topics'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
                            </tr>

                            <tr>
                                <th scope="col">{{ 'SL No'|trans }}</th>
                                <th scope="col">{{ 'Farmer\'s Name'|trans }}</th>
                                <th scope="col">{{ 'Address'|trans }}</th>
                                <th scope="col">{{ 'Moble No'|trans }}</th>
                                {% for breedType in species %}
                                    <th scope="col">{{ breedType.name }}</th>
                                {% endfor %}

                                {% for materialItem in materials %}
                                    <th scope="col">{{ materialItem['name'] }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% set count = 1 %}
                            {% for key, entity in entities %}
                                {% if entity is iterable %}

                                    {% for detail in entity %}
                                        <tr>
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ count }}</td>
                                                {% set count =count+1 %}
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ key }}</td>
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.trainingDate|date('d-m-Y') }}</td>
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentName }}</td>
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentAddress }}</td>
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentMobile }}</td>
                                            {% endif %}
                                            <td>{{ loop.index }}</td>
                                            <td>{{ detail.farmerName|default('') }}</td>
                                            <td>{{ detail.farmerAddress|default('') }}</td>
                                            <td>{{ detail.farmerMobile|default('') }}</td>
                                            {% for item in detail.farmerCapacity|json_decode %}
                                                <td>{{ item }}</td>
                                            {% endfor %}

                                            {% for materialItem in materials %}
                                                {% set material = detail.trainingMaterialQty|json_decode %}
                                                <td scope="col">{{ material[materialItem['id']]|default(0) }}</td>
                                            {% endfor %}

                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.trainingTopics|default('') }}</td>
                                            {% endif %}
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.remarks|default('') }}</td>
                                            {% endif %}

                                        </tr>

                                    {% endfor %}

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}