{% if entities is not empty %}
    <div style="text-align: center">
        <p>{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</p>
        <p>{{ 'UTTARA, DHAKA - 1230'|trans }}</p>
        <p>{{ 'Month Wise Farmers Training Record'|trans }}</p>
    </div>
    <table width="100%">
        <tr>
            <th align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
            <th align="right">{{ 'Region'|trans }} : {{ filterBy.employee.regional.name|default('N/A') }}</th>
        </tr>
        </thead>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL No'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Date of Training'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Agent'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No'|trans }}</th>
            <th scope="col" colspan="4" style="text-align: center">{{ 'Participants Information'|trans }}</th>
            <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Capacity'|trans }}</th>
            <th scope="col" colspan="{{ materials|length }}" style="text-align: center">{{ 'Training Materials'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Training Topics'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
        </tr>

        <tr>
            <th scope="col">{{ 'SL No'|trans }}</th>
            <th scope="col">{{ 'Farmer\'s Name'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Moble No'|trans }}</th>
            {% for breedType in species %}
                <th scope="col">{{ breedType.name }}</th>
            {% endfor %}

            {% for materialItem in materials %}
                <th scope="col">{{ materialItem['name'] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for key, entity in entities %}
            {% if entity is iterable %}

                {% for detail in entity %}
                    <tr>
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ count }}</td>
                            {% set count =count+1 %}
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ key }}</td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.trainingDate|date('d-m-Y') }}</td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentName }}</td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentAddress }}</td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.agentMobile }}</td>
                        {% endif %}
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.farmerName|default('') }}</td>
                        <td>{{ detail.farmerAddress|default('') }}</td>
                        <td>{{ detail.farmerMobile|default('') }}</td>
                        {% for item in detail.farmerCapacity|json_decode %}
                            <td>{{ item }}</td>
                        {% endfor %}

                        {% for materialItem in materials %}
                            {% set material = detail.trainingMaterialQty|json_decode %}
                            <td scope="col">{{ material[materialItem['id']]|default(0) }}</td>
                        {% endfor %}

                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.trainingTopics|default('') }}</td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ loop.index == 1 ?entity|length:0 }}">{{ detail.remarks|default('') }}</td>
                        {% endif %}

                    </tr>

                {% endfor %}

            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}