{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        {#<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>#}
                        {#<li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'Settings'|trans }}</a></li>#}
                        {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Daily Activies'|trans }}</h5>
                    <div class="card-header-right">
                        {% if app.user.serviceMode is not empty and app.user.serviceMode.slug !='sales-marketing' %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                {#<a class="btn btn-primary btn-sm" data-action='{{ path('fcr_after_new',{'report':report.id,'afterBefore':'after'}) }}' href='?process=postView_{{ details.id }}_{{ details.report is not empty? details.report.id:'' }}&report={{ details.report is not empty? details.report.slug:'' }}&check=show#modal' id='postView_{{ details.id }}_{{ details.report is not empty? details.report.id:'' }}' >{{ 'Report'|trans }}</a>#}
                                {% for report in fcr_after_reports %}
                                    <a style="margin-right: 5px" class="btn btn-primary btn-sm" data-action='{{ path('fcr_after_new',{'report':report is not empty? report.id:'','afterBefore':'after'}) }}' href='?process=postView_fcr_after_{{ report.id }}&report={{ report is not empty? report.slug:'' }}&check=show#modal' id='postView_fcr_after_{{ report is not empty? report.id:'' }}' >{{ report.name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if app.user.serviceMode is not empty and app.user.serviceMode.slug =='sales-marketing' %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <a style="margin-right: 5px" class="btn btn-primary btn-sm" data-action='{{ path('daily_chick_price',{'location':entity.location.id}) }}' href='?process=postView_daily_chick_price_report&report={{ '' }}&check=show#modal' id='postView_daily_chick_price_report' >{{ 'Daily Chick Price Report' }}</a>
                            </div>
                        {% endif %}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a style="margin-right: 5px" class="btn btn-primary btn-sm" data-action='{{ path('crm_expense_new',{'crmVisit':entity.id, 'location':entity.location.id}) }}' href='?process=postView_crm_expense_new&report={{ '' }}&check=show#modal' id='postView_crm_expense_new' >{{ 'Expense' }}</a>

                            <a href="{{ path('crm_visit') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'CRM VISIT'|trans }}</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Daily Activies'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <input type="hidden" class="crm_visit_id" value="{{ entity.id }}">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-5 offset-1">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Employee Name</label>
                                            <div class="col-md-8">{{ entity.employee.name }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{ 'Visiting Area'|trans }}</label>
                                            <div class="col-md-8">{{ entity.location.name|default('') }}</div>
                                        </div>

                                    </div>
                                    <div class="col-md-5 offset-1">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Designation</label>
                                            <div class="col-md-8">{{ entity.employee.designation.name|default('') }}</div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.working_duration,'Working Duration'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span style="text-align: left" class="not-blank"> {{ 'From'|trans }}</span>
                                                {{ form_widget(form.working_duration) }}
                                                {{ form_errors(form.working_duration) }}
                                            </div>
                                            <div class="col-md-4">
                                                <span style="text-align: left;" class="not-blank"> {{ 'To'|trans }}</span>
                                                {{ form_widget(form.working_duration_to) }}
                                                {{ form_errors(form.working_duration_to) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                {% if app.user.serviceMode is not empty and app.user.serviceMode.slug !='sales-marketing' %}
                                <div class="card-header grey-bg inner-header">
                                    <h5>Farmer Information</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#farmerModal" data-whatever="@mdo"><i class="fas fa-plus"></i> New Farmer</button>

                                        </div>
                                    </div>
                                </div>
                                {#addmore#}
                                <div class="card-body card-body-inner">
                                    <div class="clone-block">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="farmer_section">
                                                <td>
                                                    <select name="purpose" id="" class="form-control farmer_purpose">
                                                        <option value="">Select Purpose</option>
                                                        {% for purpose in purposes %}
                                                            <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="farmer" id="farmer" class="form-control farmer">
                                                        <option value="">Select Farmers</option>
                                                        {% for farmer in farmers %}
                                                            <option value="{{farmer.id}}"> {{farmer.name}} </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" disabled="disabled"  class="form-control form-control-sm farmer_phone" placeholder="Phone"  value="">
                                                </td>
                                                <td>
                                                    <select name="farmer_firm_type" class="form-control farmer_firm_type">
                                                        <option value="">Select Farm Type</option>
                                                        {% for index, items in firmTypes %}
                                                            <optgroup label="{{ index }}">

                                                                {% for firmType in items %}
                                                                    <option value="{{firmType.id}}"> {{firmType.name}} </option>
                                                                {% endfor %}
                                                            </optgroup>

                                                        {% endfor %}
                                                    </select>

                                                </td>
                                                <td>
                                                    <select name="farmer_report" class="form-control farmer_report">
                                                        <option value="">Select Report</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="capacity" id="capacity" class="form-control form-control-sm farmer_capacity" placeholder="Farm Capacity" value="">
                                                </td>
                                                <td>
                                                    <input type="text" name="comments" id="comments" class="form-control form-control-sm farmer_comments" placeholder="Enter your comments">
                                                </td>
                                                <td colspan="2">
                                                    <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore ml-2"><i class="fas fa-save"></i> {{ 'Save'|trans }}</button>
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody class="crm_detail_farmer_section">
                                            {% include '@TerminalbdCrm/crmvisit/partial/farmer_information.html.twig' %}
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {#end#}
                                <div class="clearfix"></div>

                                {% endif %}

                                <div class="card-header grey-bg inner-header">
                                    <h5>Agent Information</h5>
                                </div>
                                {#agent-addmore#}
                                <div class="card-body card-body-inner">
                                    <div class="agent-clone-block" id="agent-clone-block">
                                        <div class="agentClone" style="padding-bottom: 5px">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="agent_section">
                                                    <td>
                                                        <select name="agentPurpose" id="" class="form-control agentPurpose">
                                                            <option value="">Select Purpose</option>
                                                            {% if agentPurposes is not empty %}
                                                            {% for purpose in agentPurposes %}
                                                                <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="agent" id="agent" class="form-control agent">
                                                            <option value="">Select Agent</option>
                                                            {% for agent in agents %}
                                                                <option value="{{agent.id}}"> {{agent.name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled" class="form-control form-control-sm agent_address" placeholder="Address" value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled"  class="form-control form-control-sm agent_mobile" placeholder="Phone"  value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="agentComments" id="comments" class="form-control form-control-sm agentComments" placeholder="Enter your comments">
                                                    </td>
                                                    <td colspan="2">
                                                        <button type="button" id="" class="btn btn-sm  green-bg white-font addAgent"><i class="fas fa-plus"></i> Add</button>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody class="crm_detail_agent_section">
                                                {% include '@TerminalbdCrm/crmvisit/partial/agent_information.html.twig' %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Other Agent Information</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#otherAgentModal" data-whatever="@mdo">New Other-agent</button>
                                            {##}
                                        </div>
                                    </div>
                                </div>
                                {#agent-addmore#}
                                <div class="card-body card-body-inner">
                                    <div class="other-agent-clone-block" id="other-agent-clone-block">
                                        <div class="otherAgentClone">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="other_agent_section">
                                                    <td>
                                                        <select name="otherPurpose" id="" class="form-control other_agent_purpose">
                                                            <option value="">Select Purpose</option>
                                                            {% if otherAgentPurposes is not empty %}
                                                            {% for purpose in otherAgentPurposes %}
                                                                <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="otherAgent" id="otherAgent" class="form-control other_agent">
                                                            <option value="">Select Other Agent</option>
                                                            {% for other in otherAgents %}
                                                                <option value="{{other.id}}"> {{other.name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled" class="form-control form-control-sm other_agent_address" placeholder="Address" value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled"  class="form-control form-control-sm other_agent_mobile" placeholder="Phone"  value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="otherComments" id="comments" class="form-control form-control-sm other_agent_comments" placeholder="Enter your comments">
                                                    </td>
                                                    <td>
                                                        <button type="button" id="addOtherAgent" class="btn btn-sm  green-bg white-font addOtherAgent"><i class="fas fa-plus"></i> Add</button>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody class="crm_detail_other_agent_section">
                                                {% include '@TerminalbdCrm/crmvisit/partial/other-agent_information.html.twig' %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Sub-agent Information</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#subAgentModal" data-whatever="@mdo">New Sub-agent</button>
                                        </div>
                                    </div>
                                </div>
                                {#agent-addmore#}
                                <div class="card-body card-body-inner">
                                    <div class="sub-agent-clone-block" id="sub-agent-clone-block">
                                        <div class="subAgentClone">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="sub_agent_section">
                                                    <td>
                                                        <select name="subPurpose" id="" class="form-control sub_agent_purpose">
                                                            <option value="">Select Purpose</option>
                                                            {% if subAgentPurposes is not empty %}
                                                            {% for purpose in subAgentPurposes %}
                                                                <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="subAgent" id="subAgent" class="form-control sub_agent">
                                                            <option value="">Select Sub-agent</option>
                                                            {% for sub in subAgents %}
                                                                <option value="{{sub.id}}"> {{sub.name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled" class="form-control form-control-sm sub_agent_address" placeholder="Address" value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" disabled="disabled"  class="form-control form-control-sm sub_agent_mobile" placeholder="Phone"  value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="subComments" id="comments" class="form-control form-control-sm sub_agent_comments" placeholder="Enter your comments">
                                                    </td>
                                                    <td>
                                                        <button type="button" id="addSubAgent" class="btn btn-sm  green-bg white-font addSubAgent"><i class="fas fa-plus"></i> Add</button>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody class="crm_detail_sub_agent_section">
                                                {% include '@TerminalbdCrm/crmvisit/partial/sub-agent_information.html.twig' %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                {#end#}
                                <div class="form-actions">
                                    <div class="col-md-6 "></div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.Save, {label: 'Save',value:'Save', attr: { class: 'btn btn-primary form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>


        {#Modal#}
        <div class="modal fade" id="farmerModal" tabindex="-1" aria-labelledby="farmerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="padding: 20px" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Farmer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('new_farmer_ajax',{'id':entity.id}) }}" name="farmerForm" class="form-horizontal right crm-customer-create-form" id="farmerForm" onsubmit="return validateform()"   method="post">

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label col-md-4 ">Name:</label>
                                    <input type="text" name="name" class="form-control col-md-8 mr-4 name" id="name" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label col-md-4">Mobile:</label>
                                    <input type="text" name="mobile" class="form-control col-md-8 mobile" id="mobile">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label col-md-4">Agent Name:</label>
                                    <select required name="agent" class="form-control agent">
                                        <option value="">Select Agent</option>
                                        {% for agent in agents %}
                                            <option value="{{ agent.id }}">{{ agent.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label col-md-4">Location:</label>
                                    {% if entity.location is not empty%}
                                        <p class="form-control">{{ entity.location.name }}</p>
                                        <input type="hidden" name="location" class="location" value="{{ entity.location.id }}">
                                    {% else %}
                                        <select name="location" class="form-control location" {{ entity.location is not empty and entity.location.id>0?'disabled':'' }}>
                                            {% for location in entity.employee.upozila %}
                                                <option value="{{ location.id }}" {{ entity.location is not empty and location.id==entity.location.id?'selected="selected"':'' }}>{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="farmer_type" class="col-form-label col-md-4">{{ 'Farmer Type'|trans }}</label>
                                    <select name="farmer_type" id="farmer_type" class="form-control farmer_type" required>
                                        <option value="">Select Farmer Type</option>
                                        {% for breedName in breedNames %}
                                            <option value="{{breedName.id}}"> {{breedName.name}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="farmer_address" class="col-form-label col-md-4">{{ 'Address'|trans }}:</label>
                                    <textarea class="form-control col-md-8" name="address" id="farmer_address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="cultureSpeciesArea"></div>
                        <h4>{{ 'Previous Information'|trans }}</h4>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="previous_agent_name" class="col-form-label col-md-4 ">{{ 'Agent Name'|trans }}:</label>
                                    <input type="text" name="previous_agent_name" class="form-control col-md-8 mr-4 previous_agent_name" id="previous_agent_name" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="previous_agent_address" class="col-form-label col-md-4">Agent Address:</label>
                                    <input type="text" class="form-control col-md-8" name="previous_agent_address" id="previous_agent_address">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="previous_feed_name" class="col-form-label col-md-4 ">Feed Name:</label>
                                    <input type="text" name="previous_feed_name" class="form-control col-md-8 mr-4 previous_feed_name" id="previous_feed_name" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <h4>{{ 'Report Information'|trans }}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label col-md-4">Purpose</label>
                                    <select name="purpose" id="" class="form-control">
                                        <option value="">Select Purpose</option>
                                        {% for purpose in purposes %}
                                            <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label col-md-4">{{ 'Report Type'|trans }}</label>
                                    <select name="farmer_firm_type" class="form-control farmer_firm_type">
                                        <option value="">Select Farm Type</option>
                                        {% for index, items in firmTypes %}
                                            <optgroup label="{{ index }}">

                                                {% for firmType in items %}
                                                    <option value="{{firmType.id}}"> {{firmType.name}} </option>
                                                {% endfor %}
                                            </optgroup>

                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label col-md-4">{{ 'Report'|trans }}</label>
                                    <select name="farmer_report" class="form-control farmer_report">
                                        <option value="">Select Report</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label col-md-4">Capacity</label>
                                    <input type="text" name="capacity" class="form-control col-md-8" id="capacity">

                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label col-md-2">Comments</label>
                                    <textarea class="form-control col-md-10" name="comments" id="comments"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-sm crm-customer-btn" id="crm-farmer-btn">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="otherAgentModal" tabindex="-1" aria-labelledby="subAgentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="padding: 20px" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Sub-agent</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('new_other_agent_ajax',{'id':entity.id}) }}" name="otherAgentForm" class="form-horizontal right crm-customer-create-form" id="otherAgentForm" onsubmit="return validateform()"   method="post">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label col-md-4 ">Name:</label>
                                <input type="text" name="name" class="form-control col-md-8 mr-4 name" id="name" autocomplete="off" required>
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label col-md-4">Mobile:</label>
                                <input type="text" name="mobile" class="form-control col-md-8 mobile" id="mobile">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Location:</label>
                                {% if entity.location is not empty%}
                                    <p class="form-control">{{ entity.location.name }}</p>
                                    <input type="hidden" name="location" class="location" value="{{ entity.location.id }}">
                                {% else %}
                                    <select name="location" class="form-control location" {{ entity.location is not empty and entity.location.id>0?'disabled':'' }}>
                                        {% for location in entity.employee.upozila %}
                                            <option value="{{ location.id }}" {{ entity.location is not empty and location.id==entity.location.id?'selected="selected"':'' }}>{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                {#<select name="location" id="location" class="form-control">
                                    {% for location in entity.employee.upozila %}
                                        <option value="{{ location.id }}">{{ location.name }}</option>
                                    {% endfor %}
                                </select>#}
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Address:</label>
                                <textarea class="form-control col-md-8" name="address" id="message-text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Purpose</label>
                                <select name="purpose" class="form-control">
                                    <option value="">Select Purpose</option>
                                    {% if otherAgentPurposes is not empty %}
                                    {% for purpose in otherAgentPurposes %}
                                        <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Comments</label>
                                <textarea class="form-control col-md-8" name="comments" id="comments"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm crm-customer-btn" id="crm-other-agent-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="subAgentModal" tabindex="-1" aria-labelledby="subAgentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="padding: 20px" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Sub-agent</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('new_sub_agent_ajax',{'id':entity.id}) }}" id="subAgentForm" name="subAgentForm" class="form-horizontal right crm-customer-create-form"  onsubmit="return validateform()"   method="post">

                        <div class="modal-body">


                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label col-md-4 ">Name:</label>
                                <input type="text" name="name" class="form-control col-md-8 mr-4 name" id="name" autocomplete="off" required>
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label col-md-4">Mobile:</label>
                                <input type="text" name="mobile" class="form-control col-md-8 mobile" id="mobile">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label col-md-4">Agent Name:</label>
                                <select name="agent" id="agent" class="form-control">
                                    <option value="">Select Agent</option>
                                    {% for agent in agents %}
                                        <option value="{{ agent.id }}">{{ agent.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Location:</label>
                                {% if entity.location is not empty%}
                                    <p class="form-control">{{ entity.location.name }}</p>
                                    <input type="hidden" name="location" class="location" value="{{ entity.location.id }}">
                                {% else %}
                                    <select name="location" class="form-control location" {{ entity.location is not empty and entity.location.id>0?'disabled':'' }}>
                                        {% for location in entity.employee.upozila %}
                                            <option value="{{ location.id }}" {{ entity.location is not empty and location.id==entity.location.id?'selected="selected"':'' }}>{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Address:</label>
                                <textarea class="form-control col-md-8" name="address" id="message-text"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Purpose</label>
                                <select name="purpose" id="" class="form-control">
                                    <option value="">Select Purpose</option>
                                    {% if subAgentPurposes is not empty %}
                                        {% for purpose in subAgentPurposes %}
                                            <option value="{{purpose.id}}"> {{purpose.name}} </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label col-md-4">Comments</label>
                                <textarea class="form-control col-md-8" name="comments" id="comments"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm crm-customer-btn" id="crm-sub-agent-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        {#EndModal#}


        <!-- [ Main Content ] end -->
    </div>

    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
 {% endblock  %}
{% block javascripts %}
{#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fcr.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/cattle-performance.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/layer-performance.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/daily-chick-price.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/expense.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/farmer-touch/farmer-touch.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/farmer-training.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/antibiotic-free-farm.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/less-costing-farm.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/disease-mapping.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/complain-different-product.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/agent-upgradation-report.js') }}"></script>
{% endblock  %}
