{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        {#<li class="breadcrumb-item"> <a href="{{ path('kpi_setup') }}">  {{ 'Employee Sales'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Crm Visit'|trans }}</h5>
                    <div class="card-header-right">
                        {% if (is_granted("ROLE_CRM"))  %}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('new_visit') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('crm_visit') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'CRM VISIT'|trans }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" scope="col">S/N</th>
                            <th rowspan="2" scope="col">{{ 'Created Date'|trans }}</th>
                            <th rowspan="2" scope="col">Area Name</th>
                            <th colspan="2" scope="col" class="text-center">Working Duration</th>
                            <th rowspan="2" scope="col" class="text-center" width="12%"><i class="feather icon-settings"></i></th>
                        </tr>
                        <tr>
                            <th>{{ 'From'|trans }}</th>
                            <th>{{ 'To'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td>{% if entity.location is not empty %}{{ entity.location.name }}{% endif %}</td>
                                <td>{{ entity.WorkingDuration }}</td>
                                <td>{{ entity.WorkingDurationTo }}</td>
                                <td>
{#                                    {% if entity.created|date('d-m-Y') == 'now'|date('d-m-Y') %}#}
                                        <a class="btn btn-mini yellow-bg white-font" href="{{ path('crm_visit_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> In Progress</a>
                                        <a class="btn btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('crm_visit_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
{#                                    {% endif %}#}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm//css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fcr.js') }}"></script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}
{#    <script>#}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': -1,
    'orderable': false
    }]
{#    "order": [#}
{#    [1, "asc"]#}
{#    ],#}
{#    'columnDefs': [ {#}
{#    'targets': 0,#}
{#    'orderable': false#}
{#    },#}
{#    {#}
{#    'targets': 5,#}
{#    'orderable': false#}
{#    },#}
{#    {#}
{#    'targets': 4,#}
{#    'orderable': false#}
{#    },#}
{#    {#}
{#    'targets': 6,#}
{#    'orderable': false#}
{#    },#}
{#    {#}
{#    'targets': 7,#}
{#    'orderable': false#}
{#    }]#}
    });
{% endblock %}
