{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        {#<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>#}
                        {#<li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'Settings'|trans }}</a></li>#}
                        {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Daily Activies'|trans }}</h5>
                    <div class="card-header-right">
                        {% if (is_granted("ROLE_CRM"))  %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <a href="{{ path('crm_visit') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'CRM VISIT'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Daily Activies'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <input type="hidden" class="crm_visit_id" value="{{ entity.id }}">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-5 offset-1">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{ 'Employee Name'|trans }}</label>
                                            <div class="col-md-8">{{ employee.name }}</div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.location,'Visiting Area'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.location) }}
                                                {{ form_errors(form.location) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-5 offset-1">

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Designation</label>
                                            <div class="col-md-8">{{ employee.designation.name|default('') }}</div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.working_duration,'Working Duration'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span style="text-align: left" class="not-blank"> {{ 'From'|trans }}</span>
                                                {{ form_widget(form.working_duration) }}
                                                {{ form_errors(form.working_duration) }}
                                            </div>
                                            <div class="col-md-4">
                                                <span style="text-align: left;" class="not-blank"> {{ 'To'|trans }}</span>
                                                {{ form_widget(form.working_duration_to) }}
                                                {{ form_errors(form.working_duration_to) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6 "></div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.Save, {label: 'Save',value:'Save', attr: { class: 'btn btn-primary form-submit'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>

    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
 {% block javascriptBlock %}
     {{ parent() }}
     $(".timePicker").timepicker({
     timeFormat: 'hh:mm TT'
     }
     );
 {% endblock %}