{% extends 'base-pdf.html.twig' %}
{% block body %}
    {% if entities is not empty %}
        <div style="text-align: center">
            <p class="title-h4">NOURISH POULTRY AND HATCHERY LTD</p>
            <p class="title-h4">UTTARA, DHAKA.</p>
            <p class="title-h4">FCR OF NOURISH FEED ({{ entities[0].fcrOfFeed|capitalize }} Sale)</p>
        </div>
        <table>
            <thead>
            <tr>
                <th align="left">Name of CSO/Sr.CSO: {{ entities[0].employee_name|default('N/A') }}</th>
                <th align="right">Reporting Month: {{ entities[0].reportingMonth|date('F-Y') }}</th>
            </tr>
            <tr>
                <td></td>
            </tr>
            </thead>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th scope="col" colspan="3" style="text-align: center">Agent</th>
                <th scope="col" rowspan="2" style="text-align: center">Hatching Date</th>
                <th scope="col" rowspan="2" style="text-align: center">Total Birds</th>
                <th scope="col" rowspan="2" style="text-align: center">Age (day)</th>
                <th scope="col" colspan="2" style="text-align: center">Mortality</th>
                <th scope="col" rowspan="2" style="text-align: center">Weight(gm)</th>
                <th scope="col" rowspan="2" style="text-align: center">Total Feed Cons.(kg)</th>
                <th scope="col" rowspan="2" style="text-align: center">Feed Cons. per bird(kg)</th>
                <th scope="col" rowspan="2" style="text-align: center">F.C.R Without M</th>
                <th scope="col" rowspan="2" style="text-align: center">F.C.R With M</th>
                <th scope="col" rowspan="2" style="text-align: center">Hatchery</th>
                <th scope="col" rowspan="2" style="text-align: center">Breed</th>
                <th scope="col" rowspan="2" style="text-align: center">Feed</th>
                <th scope="col" rowspan="2" style="text-align: center">Feed Mill</th>
                <th scope="col" rowspan="2" style="text-align: center">Feed Type</th>
                <th scope="col" rowspan="2" style="text-align: center">Pro. Date</th>
                <th scope="col" rowspan="2" style="text-align: center">Batch No.</th>
                <th scope="col" rowspan="2" style="text-align: center">Remarks</th>
            </tr>

            <tr>
                <th scope="col" style="text-align: center">Name</th>
                <th scope="col" style="text-align: center">District</th>
                <th scope="col" style="text-align: center">Address</th>
                <th scope="col" style="text-align: center">Pes</th>
                <th scope="col" style="text-align: center">%</th>
            </tr>
            </thead>

            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.agent_name|default('N/A') }}</td>
                    <td>{{ entity.agent_district|default('N/A') }}</td>
                    <td>{{ entity.agent_address|default('N/A') }}</td>
                    <td>{{ entity.hatching_date|date('d-m-Y') }}</td>
                    <td>{{ entity.total_birds|default(0) }}</td>
                    <td>{{ entity.age|default(0) }}</td>
                    <td>{{ entity.mortality_pes|default(0) }}</td>
                    <td>{{ entity.mortality_percent|number_format(2,'.','') }}</td>
                    <td>{{ entity.weight|default(0) }}</td>
                    <td>{{ entity.total_feed_cons|default(0) }}</td>
                    <td>{{ entity.feed_cons_per_bird|number_format(2,'.','') }}</td>
                    <td>{{ entity.without_mortality|number_format(2,'.','') }}</td>
                    <td>{{ entity.with_mortality|number_format(2,'.','') }}</td>
                    <td>{{ entity.hatchery_name|default('N/A')}}</td>
                    <td>{{ entity.breed_name|default('N/A')}}</td>
                    <td>{{ entity.feed_name|default('N/A')}}</td>
                    <td>{{ entity.feed_mill_name|default('N/A')}}</td>
                    <td>{{ entity.feed_type_name|default('N/A')}}</td>
                    <td>{{ entity.pro_date|date('d-m-Y') }}</td>
                    <td>{{ entity.batch_no|default('')}}</td>
                    <td>{{ entity.remarks|default('N/A')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}