{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    <h5>{{ 'FCR SALE REPORT'|trans }}</h5>
                    {% if entities is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('crm_chick_report_fcr_pdf',{'filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('fcr_report_excel',{'filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body p-1">
                    {{ form_start(searchForm) }}
                    <table class="table table-borderd m-0">
                        <thead class="thead-dark">
                        <tr>
                            <th>
                                {{ form_label(searchForm.startDate, 'Beginning of Month:') }}
                                {{ form_widget(searchForm.startDate, {'id':'start-date'}) }}
                            </th>
                            <th>
                                {{ form_label(searchForm.endDate, 'End of Month:') }}
                                {{ form_widget(searchForm.endDate, {'id':'end-date'}) }}
                            </th>
{#                            <th>#}
{#                                {{ form_label(searchForm.feedType, 'Feed Type:') }}#}
{#                                {{ form_widget(searchForm.feedType) }}#}
{#                            </th>#}
                            <th>
                                {{ form_label(searchForm.employee, 'Select Employee:') }}
                                {{ form_widget(searchForm.employee) }}
                            </th>
                            <th>{{ form_widget(searchForm.filter,{'attr':{'style':'margin-top:26px'}}) }}</th>
                        </tr>
                        </thead>
                    </table>
{#                    {{ form_end(searchForm) }}#}
                </div>
            </div>
        </div>
    </div>
    {% if entities is not empty %}
        <div class="row">
        <div class="col">
            <div class="card" style="overflow-x: scroll">
                <div class="card-body">
                    <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                    <h5 class="text-center">UTTARA, DHAKA.</h5>
                    <h6 class="text-center">FCR OF NOURISH FEED ({{ entities[0].fcrOfFeed|capitalize }} Sale)</h6>
                    <table class="table table-borderd">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name of CSO/Sr.CSO: {{ entities[0].employee_name|default('N/A') }}</th>
                            <th class="text-right"> Reporting Month: {{ entities[0].reportingMonth|date('F-Y') }}</th>
                        </tr>
                        </thead>
                    </table>
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="3" style="text-align: center">Agent</th>
                            <th scope="col" rowspan="2" style="text-align: center">Hatching Date</th>
                            <th scope="col" rowspan="2" style="text-align: center">Total Birds</th>
                            <th scope="col" rowspan="2" style="text-align: center">Age (day)</th>
                            <th scope="col" colspan="2" style="text-align: center">Mortality</th>
                            <th scope="col" rowspan="2" style="text-align: center">Weight(gm)</th>
                            <th scope="col" rowspan="2" style="text-align: center">Total Feed Cons.(kg)</th>
                            <th scope="col" rowspan="2" style="text-align: center">Feed Cons. per bird(kg)</th>
                            <th scope="col" rowspan="2" style="text-align: center">F.C.R Without M</th>
                            <th scope="col" rowspan="2" style="text-align: center">F.C.R With M</th>
                            <th scope="col" rowspan="2" style="text-align: center">Hatchery</th>
                            <th scope="col" rowspan="2" style="text-align: center">Breed</th>
                            <th scope="col" rowspan="2" style="text-align: center">Feed</th>
                            <th scope="col" rowspan="2" style="text-align: center">Feed Mill</th>
                            <th scope="col" rowspan="2" style="text-align: center">Feed Type</th>
                            <th scope="col" rowspan="2" style="text-align: center">Pro. Date</th>
                            <th scope="col" rowspan="2" style="text-align: center">Batch No.</th>
                            <th scope="col" rowspan="2" style="text-align: center">Remarks</th>
                        </tr>

                        <tr>
                            <th scope="col" style="text-align: center">Name</th>
                            <th scope="col" style="text-align: center">District</th>
                            <th scope="col" style="text-align: center">Address</th>
                            <th scope="col" style="text-align: center">Pes</th>
                            <th scope="col" style="text-align: center">%</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.agent_name|default('N/A') }}</td>
                                <td>{{ entity.agent_district|default('N/A') }}</td>
                                <td>{{ entity.agent_address|default('N/A') }}</td>
                                <td>{{ entity.hatching_date|date('d-m-Y') }}</td>
                                <td>{{ entity.total_birds|default(0) }}</td>
                                <td>{{ entity.age|default(0) }}</td>
                                <td>{{ entity.mortality_pes|default(0) }}</td>
                                <td>{{ entity.mortality_percent|number_format(2,'.','') }}</td>
                                <td>{{ entity.weight|default(0) }}</td>
                                <td>{{ entity.total_feed_cons|default(0) }}</td>
                                <td>{{ entity.feed_cons_per_bird|number_format(2,'.','') }}</td>
                                <td>{{ entity.without_mortality|number_format(2,'.','') }}</td>
                                <td>{{ entity.with_mortality|number_format(2,'.','') }}</td>
                                <td>{{ entity.hatchery_name|default('N/A')}}</td>
                                <td>{{ entity.breed_name|default('N/A')}}</td>
                                <td>{{ entity.feed_name|default('N/A')}}</td>
                                <td>{{ entity.feed_mill_name|default('N/A')}}</td>
                                <td>{{ entity.feed_type_name|default('N/A')}}</td>
                                <td>{{ entity.pro_date|date('d-m-Y') }}</td>
                                <td>{{ entity.batch_no|default('')}}</td>
                                <td>{{ entity.remarks|default('N/A')}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );
    $('#end-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );

    $('#datatable').DataTable( {
    "pageLength": 25,
    "order": [[ 2, "desc" ]],
    'columnDefs': [ {
    'targets': [0,4,5,6,12],
    'orderable': false
    }],
    "responsive": false,
    "scrollX": true
    });
{% endblock %}