{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        {#<li class="breadcrumb-item"> <a href="{{ path('crm_chick') }}">  {{ 'Chick Life Cycle'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'API Response List'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>

                            <th>{{ 'S/N'|trans }}</th>
                            <th>{{ 'Process'| trans }}</th>
                            <th>{{ 'Device Id'| trans }}</th>
                            <th>{{ 'Status'| trans }}</th>
                            <th class=" text-center"><i class="feather icon-settings"></i></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if list is not empty and list is iterable %}
                            {% for record in list %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ record.process|default('') }}</td>
                                    <td>{{ record.deviceId|default('') }}</td>
                                    <td>{{ record.status == 1 ? 'Yes':'No' }}</td>
                                    <td>
                                        {% if record.status == 0 %}
                                            <a class="btn btn-mini bg-success white-font" href="{{ path('insert_json_data', {'id': record.id}) }}"><i class="feather icon-upload"></i> Migrate</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 100,
    'columnDefs': [ {
    'targets': [-1],
    'orderable': false
    }]
    });
{% endblock %}
