<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">{{cattleFarmVisit.report.name}}</div>
    </div>
{#{{ dump(report) }}#}

    <div class="portlet-body form">
        {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
        <div class="row form-body ">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                        <h5>Uttara, Dhaka.</h5>
                        <h4>{{cattleFarmVisit.report.name}}</h4>
                        <input type="hidden" class="cattleFarmVisit_id" value="{{ cattleFarmVisit.id }}">
                    </div>

                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'SEO Name'|trans }}: {{ cattleFarmVisit.employee.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Reporting Month'|trans }}: {{ cattleFarmVisit.reportingMonth?cattleFarmVisit.reportingMonth|date("F, Y"):'' }}</p>
                    </div>
                </div>
                <div class="card-body-inner" style="padding: 0 5px; overflow-x: scroll">
                    <div class="cattleFarmVisitSection">
                        {{ form_start(form, {'attr': {'method':'post','action': path('cattle_farm_visit_details_modal',{'id':cattleFarmVisit.id, 'customer':customer }),'class': 'form-horizontal right','id':'cattle_farm_visit_form'}}) }}
                        <table class="table table-striped table-bordered table-hover cattle_farm_visit_report" id="datatable">
                            <thead class="thead-dark">
                            <tr>

                                <th scope="col" rowspan="2">S/N</th>
                                <th style="width: 100px" scope="col" rowspan="2">Visiting Date</th>

                                <th scope="col" colspan="3">Cattle Population</th>
                                <th scope="col" rowspan="2">Avg Milk Yield (Ltr.) per day</th>
                                <th scope="col" rowspan="2">Conception Rate (%)</th>

                                <th scope="col" colspan="2">Fodder (Yes/No)</th>

                                <th scope="col" rowspan="2">Type of Concentrate Feed</th>

                                <th scope="col" colspan="2">Market Price</th>

                                <th scope="col" rowspan="2">Remarks</th>
                                <th scope="col" rowspan="2"></th>

                            </tr>
                            <tr>
                                <th scope="col">Ox</th>
                                <th scope="col">Cow </th>
                                <th scope="col">Calf</th>

                                <th style="width: 50px" scope="col">Gr. Grass</th>
                                <th style="width: 50px" scope="col">Straw</th>

                                <th scope="col">Milk (Per Liter)</th>
                                <th scope="col">Meat (Per Kg)</th>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="date_section">
                                        {{ form_widget(form.visiting_date) }}
                                    </div>
                                </td>
                                <td>
                                    {{ form_widget(form.cattlePopulationOx,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.cattlePopulationCow,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.cattlePopulationCalf,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.avgMilkYieldPerDay,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.conceptionRate,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.fodderGreenGrassKg) }}
                                </td>
                                <td>
                                    {{ form_widget(form.fodderStrawKg) }}
                                </td>
                                <td>
                                    {{ form_widget(form.typeOfConcentrateFeed) }}
                                </td>
                                <td>
                                    {{ form_widget(form.marketPriceMilkPerLiter,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.marketPriceMeatPerKg,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.remarks) }}
                                </td>
                                <td>
                                    <button title="Save" type="button" class="btn btn-primary btn-sm cattle_farm_visit_details_button"><i class="fa fa-save"></i></button>
                                </td>
                            </tr>
                            </thead>
                            <tbody class="cattleFarmVisitDetailsSection">
                            {% include '@TerminalbdCrm/cattleFarmVisit/partial/cattle-farm-visit-details-body.html.twig' %}
                            </tbody>
                        </table>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
