<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">{{report.name}}</div>
    </div>

    <div class="portlet-body form">
        {{ form_start(form, {'attr': {'action': path('layer_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}
        <div class="row form-body ">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>{{report.name}}</h4>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Agent'|trans }}</label>
                            <div class="col-md-6">
                                <span class="not-blank"></span>
                                <p style="text-align: left; border: none!important; margin: 0" class="form-control">{{ crmCustomer.agent.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Farmer Name'|trans }}</label>
                            <div class="col-md-6">
                                <span class="not-blank"></span>
                                <p style="text-align: left; border: none!important; margin: 0" class="form-control">{{ crmCustomer.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Farmer Mobile'|trans }}</label>
                            <div class="col-md-6">
                                <span class="not-blank"></span>
                                <p style="text-align: left; border: none!important; margin: 0" class="form-control">{{ crmCustomer.mobile }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Total Birds'|trans }}</label>
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                <div class="date_section">
                                    {{ form_widget(form.total_birds,{'type':'number'}) }}
                                    {{ form_errors(form.total_birds) }}
                                    {#<input autocomplete="off" type="text" name="hatching_date" class="form-control datePicker" value="{{ entity.hatchingDate?entity.hatchingDate|date("d-m-Y"):'' }}">#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Hatching Date'|trans }}</label>
                            <div class="col-md-6">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                <div class="date_section">
                                    {{ form_widget(form.hatchery_date) }}
                                </div>
                                {{ form_errors(form.hatchery_date) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.hatchery, 'Hatchery'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {#<span class="not-blank"> {{ 'Required'|trans }}</span>#}
                                {{ form_widget(form.hatchery) }}
                                {{ form_errors(form.hatchery) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.breed, 'Breed'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {#<span class="not-blank"> {{ 'Required'|trans }}</span>#}
                                {{ form_widget(form.breed) }}
                                {{ form_errors(form.breed) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.feed, 'Feed'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.feed) }}
                                {{ form_errors(form.feed) }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    <div class="col-md-6 ">
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>
