{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense') }}">  {{ 'Expense'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Expense'|trans }}</h5>
                    {#<div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_expense_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Schedule Visit</th>
                            <th scope="col">Visiting Area</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Conveyance</th>
                            <th scope="col">Daily Allowance</th>
                            <th scope="col">Hotel Rent</th>
                            <th scope="col">Photostate</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Maintenace</th>
                            <th scope="col">Toll Bill</th>
                            <th scope="col">Service Charge</th>
                            <th scope="col">Others</th>

                            {#<th scope="col text-center"><i class="feather icon-settings"></i></th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.scheduleVisit }}</td>
                            <td>{{ entity.visitingArea.name }}</td>
                            <td>{% if entity.setting is defined and  entity.setting is not empty %}{{ entity.setting.name }}{% endif %}</td>
                            <td>{{ entity.conveyance }}</td>
                            <td>{{ entity.dailyAllowance }}</td>
                            <td>{{ entity.hotelRent }}</td>
                            <td>{{ entity.photostate }}</td>
                            <td>{{ entity.mobile }}</td>
                            <td>{{ entity.maintenace }}</td>
                            <td>{{ entity.tollBill }}</td>
                            <td>{{ entity.serviceCharge }}</td>
                            <td>{{ entity.others }}</td>
                            {#<td>
                                #}{#<a class="btn btn-mini yellow-bg white-font" href="{{ path('crm_expense_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>#}{#
                                #}{#<a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('crm_expense_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>#}{#
                            </td>#}

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}

