{% if crmLayerPerformanceDetails is not empty %}
    {% for entity in crmLayerPerformanceDetails %}

        <tr>
            <td> {{ loop.index }} </td>
            <td> {{ entity.agent.name |default('') }} </td>
            <td> {{ entity.customer.name |default('') }} </td>
            <td> {{ entity.totalBirds }} </td>
            <td> {{ entity.formattingAgeWeek }} </td>
            <td> {{ entity.birdWeightAchieved }} </td>
            <td> {{ entity.birdWeightTarget }} </td>
            <td> {{ entity.feedIntakePerBird }} </td>
            <td> {{ entity.feedTarget }} </td>

            <td> {{ entity.eggProductionAchieved }} </td>
            <td> {{ entity.eggProductionTarget }} </td>

            <td> {{ entity.eggWeightAchieved }} </td>
            <td> {{ entity.eggWeightStand }} </td>

            <td> {{ entity.feedType.name|default('') }} </td>
            <td> {{ entity.productionDate|date('d-m-Y') }} </td>
            <td> {{ entity.BatchNo }} </td>
            <td> {{ entity.feedMill.name|default('') }} </td>

            <td> {{ entity.hatchery.name|default('') }} </td>
            <td> {{ entity.breed.name|default('') }} </td>
            <td> {{ entity.color.name|default('') }} </td>

            <td> {{ entity.disease }} </td>
            <td> {{ entity.remarks }} </td>

            <td>
                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('layer_parformance_details_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
            </td>

        </tr>
    {% endfor %}
{% endif %}