{% extends 'admin/layout.html.twig' %}

{% block body %}
{#    {{ dump(data) }}#}


    <style>
        table tr td,table tr th{
            border: 1px solid #ccc;
        }
    </style>
{#    <select name="" id="">#}
{#        {% for detail in data %}#}
{#            {% if detail.location_name not in data %}#}
{#                <option value="">{{ detail.location_name|default('N/A') }}</option>#}
{#                {% set newArray = newArray|merge([name]) %}#}
{#            {% endif %}#}

{#        {% endfor %}#}

{#    </select>#}
    {% if data is iterable %}
        <div class="row">
            <div class="col">
                <div class="heading-area">
                    <h2 class="h2 text-center font-weight-bold">Nourish Poultry & Hatchery Ltd.</h2>
                    <h3 class="h3 text-center">Daily Activities</h3>
                    <table class="table table-borderd">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name of CSO: {{ data[0].employee_name }}</th>
                            <th>Region: {{ data[0].location_name }}</th>
                            <th>Date: {{ data[0].created|date('d-m-Y') }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderd">
                    <thead class="thead-dark">
                    <tr>
                        <th>Purpose</th>
                        <th>Duration</th>
                        <th>Visited Farmers Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Farm Capacity</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in data %}
                        <tr>
                            {% if detail.process is same as 'farmer' %}
                                <td>{{ detail.purpose_name|default('N/A')}}</td>
                                <td>{{ detail.workingDuration|default('N/A') }} - {{ detail.workingDurationTo|default('N/A') }}</td>
                                <td>{{ detail.customer_name|default('N/A')}}</td>
                                <td>{{ detail.customer_address|default('N/A')}}</td>
                                <td>{{ detail.customer_phone|default('N/A')}}</td>
                                <td>{{ detail.customer_farmCapacity|default('N/A')}}</td>
                                <td>{{ detail.comments|default('N/A')}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderd">
                    <thead class="thead-dark">
                    <tr>
                        <th>Visited Agent (Nourish)</th>
                        <th>Address</th>
                        <th>Phone No.</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in data %}
                        <tr>
                            {% if detail.process is same as "agent"%}
                                <td>{{ detail.agent_name|default('N/A') }}</td>
                                <td>{{ detail.agent_address|default('N/A') }}</td>
                                <td>{{ detail.agent_phone|default('N/A') }}</td>
                                <td>{{ detail.comments|default('N/A') }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderd">
                    <thead class="thead-dark">
                    <tr>
                        <th>Visited Agent (Other Company)</th>
                        <th>Address</th>
                        <th>Phone No.</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in data %}
                        <tr>
                            {% if detail.process is same as "other-agent"%}
                                <td>{{ detail.agent_name|default('N/A')}}</td>
                                <td>{{ detail.agent_address|default('N/A')}}</td>
                                <td>{{ detail.agent_phone|default('N/A')}}</td>
                                <td>{{ detail.comments|default('N/A')}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderd">
                    <thead class="thead-dark">
                    <tr>
                        <th>Visited Customers Name (Sub Agent)</th>
                        <th>Address</th>
                        <th>Name Agent</th>
                        <th>Phone</th>
                        <th>Customers Feedback</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in data %}
                        <tr>
                            {% if detail.process is same as "sub-agent"%}
                                <td>{{ detail.customer_name|default('N/A')}}</td>
                                <td>{{ detail.customer_address|default('N/A')}}</td>
                                <td>{{ detail.agent_name|default('N/A')}}</td>
                                <td>{{ detail.agent_phone|default('N/A')}}</td>
                                <td>{{ detail.comments|default('N/A')}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h3 class="h3 border-bottom">Other Activities:</h3>
                    <ol>
                        <li>Questionnaire for Nourish poultry farmer.</li>
                        <li>Daily Chicks, Live Broiler, Egg, Fish Price Served at Head Office</li>
                        <li>Daily Movement position inform at Head Office.</li>
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascriptBlock %}
    $('#input-date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );
{% endblock %}
