{% extends 'admin/layout.html.twig' %}

{% block body %}

<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Medicine & Vaccine Cost for Antibiotic Free Farm'|trans }}</h5>
                {% if entities is not empty %}
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                    <a target="_blank" href="{{ path('antibiotic_free_farm_report_pdf',{'filterBy':filterBy,'employeeId':filterBy['employee'].id}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                    <a target="_blank" href="{{ path('antibiotic_free_farm_report_excel',{'filterBy':filterBy,'employeeId':filterBy['employee'].id}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            {{ form_start(searchForm) }}
            <table class="table table-borderd">
                <thead class="thead-dark">
                <tr>
                    <th>
                        {{ form_label(searchForm.startDate, 'Reporting Month:') }}
                        {{ form_widget(searchForm.startDate, {'id':'inputMonth','attr':{'placeholder':'Month'}}) }}
                    </th>
                    <th>
                        {{ form_label(searchForm.employee, 'Employee Name:') }}
                        {{ form_widget(searchForm.employee, {'attr':{'placeholder':'Select Employee'}}) }}
                    </th>
                    <th>
                        {{ form_widget(searchForm.filter,{'attr':{'style': 'margin-top:18px'}}) }}
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    {% if entities is not empty %}
        <div class="row">
            <div class="col">
                <div class="card" style="overflow-x: scroll">
                    <div class="card-body p-1">
                        <h3 class="text-center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3>
                        <h5 class="text-center">{{ 'UTTARA, DHAKA.'|trans }}</h5>
                        <h6 class="text-center">{{ 'Medicine & Vaccine Cost for Antibiotic Free Farm'|trans }}</h6>
                        <table class="table table-bordered" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('') }}</th>
                                <th>{{ 'Designation'|trans }}: {{ filterBy.employee.designation.name }}</th>
                                <th>{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table table-bordered" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
                                <th scope="col" colspan="4" style="text-align: center">{{ 'Agent Information'|trans }}</th>
                                <th scope="col" colspan="4" style="text-align: center">{{ 'Farmer Information'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'DOC Information'|trans }}</th>
                                <th scope="col" colspan="6" style="text-align: center">{{ 'Flock Details'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'Cost Details (Total)'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'Cost Details (Per Bird)'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'Cost Details (Per kg)'|trans }}</th>
                            </tr>

                            <tr>
                                <th scope="col" style="text-align: center">{{ 'SL No'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Agent Name'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Address'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Mobile'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'SL No'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Farmer Name'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Address'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Mobile'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Hatch Date'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Hatchery'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Breed'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Total Chicks (Pcs)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Total Feed (Kg)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Total Broiler Wt (Kg)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Mortality (Pcs)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Age (days)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'FCR'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Medicine Cost (Total)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Vaccine Cost (Total)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'M & V Cost (Total)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Medicine Cost / Bird'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Vaccine Cost / Bird'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'M & V Cost / Bird'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Medicine Cost / kg'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Vaccine Cost / kg'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'M & V Cost / kg'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entities is iterable %}
                                {% set count = 1 %}
                                {% set agentCount = 1 %}
                                {% for key,entity in entities %}
                                    {% set farmerCount = 1 %}
                                    {% for details in entity %}
                                        {% set totalCost = medicineCost[details.id]['MEDICINE'] + medicineCost[details.id]['VACCINE'] %}
                                        <tr>
                                        {% if count == 1 %}
                                            <td rowspan="{{ count == 1 ? entities|multiArrayLength : '' }}">{{ filterBy['reportingMonth']|date('F-Y') }}</td>
                                        {% endif %}
                                        {% if farmerCount == 1 %}
                                            <td rowspan="{{ entity|length }}">{{ agentCount }}</td>
                                            <td rowspan="{{ entity|length }}">{{ key|default('') }}</td>
                                            <td rowspan="{{ entity|length }}">{{ details.agentAddress|default('') }}</td>
                                            <td rowspan="{{ entity|length }}">{{ details.agentMobile|default('') }}</td>
                                        {% endif %}
                                            <td>{{ count }}</td>
                                            <td>{{ details.farmerName|default('') }}</td>
                                            <td>{{ details.farmerAddress|default('') }}</td>
                                            <td>{{ details.farmerMobile|default('') }}</td>
                                            <td>{{ details.hatchingDate|date('d-m-Y') }}</td>
                                            <td>{{ details.hatcheryName|default('') }}</td>
                                            <td>{{ details.breedName|default('') }}</td>
                                            <td>{{ details.totalStockedChicksPcs|round|default('') }}</td>
                                            <td>{{ details.totalFeedUsedKg|round|default('') }}</td>
                                            <td>{{ details.totalBroilerWeightKg|round|default('') }}</td>
                                            <td>{{ details.mortality|round|default('') }}</td>
                                            <td>{{ details.ageDays|round|default('') }}</td>
                                            <td>{{ details.fcr|number_format(3)|default('') }}</td>
                                            <td>{{ medicineCost[details.id]['MEDICINE'] }}</td>
                                            <td>{{ medicineCost[details.id]['VACCINE'] }}</td>
                                            <td>{{ totalCost }}</td>
                                            <td>{{ (medicineCost[details.id]['MEDICINE']/details.totalStockedChicksPcs)|number_format(3) }}</td>
                                            <td>{{ (medicineCost[details.id]['VACCINE']/details.totalStockedChicksPcs)|number_format(3) }}</td>
                                            <td>{{ (totalCost/details.totalStockedChicksPcs)|number_format(3) }}</td>
                                            <td>{{ (medicineCost[details.id]['MEDICINE']/details.totalBroilerWeightKg)|number_format(3) }}</td>
                                            <td>{{ (medicineCost[details.id]['VACCINE']/details.totalBroilerWeightKg)|number_format(3) }}</td>
                                            <td>{{ (totalCost/details.totalBroilerWeightKg)|number_format(3) }}</td>
                                    </tr>
                                        {% set count = count + 1 %}
                                        {% set farmerCount = farmerCount + 1 %}
                                    {% endfor %}
                                    {% set agentCount = agentCount + 1 %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

    {% endblock %}
    {% block cssBlock %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
        <style>
            .ui-datepicker-calendar{display: none}
        </style>
    {% endblock  %}
    {% block javascripts %}
        {{ parent() }}
        <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    {% endblock  %}
    {% block documentready %}
    {{ parent() }}

        $('#inputMonth').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM,yy',

        onClose: function() {
        var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
        var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
        },

        beforeShow: function() {
        if ((selDate = $(this).val()).length > 0)
        {
        iYear = selDate.substring(selDate.length - 4, selDate.length);
        iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
        $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
        }
        }
        });
{% endblock %}