{% for fcrDetail in fcrDetails|sort %}
<tr class="added_item">
    <td>{{ fcrDetail.agent.name|default('') }}</td>
    <td>{{ fcrDetail.hatchingDate|date('d-m-Y') }}</td>
    <td>{{ fcrDetail.totalBirds }}</td>
    <td>{{ fcrDetail.ageDay }}</td>
    <td>{{ fcrDetail.mortalityPes }}</td>
    <td>{{ fcrDetail.mortalityPercent|number_format(2,'.','') }}</td>
    <td>{{ fcrDetail.weightStandard }}</td>
    <td>{{ fcrDetail.weight }}</td>
    <td>{{ fcrDetail.feedConsumptionTotalKg }}</td>
    <td>{{ fcrDetail.feedConsumptionPerBird }}</td>
    <td>{{ fcrDetail.feedConsumptionStandard }}</td>
    <td>{{ fcrDetail.fcrWithoutMortality|number_format(2,'.','') }}</td>
    <td>{{ fcrDetail.fcrWithMortality|number_format(2,'.','') }}</td>
    <td>{{ fcrDetail.hatchery.name|default('') }}</td>
    <td>{{ fcrDetail.breed.name|default('') }}</td>
    <td>{{ fcrDetail.feed.name|default('') }}</td>
    {% if fcrDetail.fcrOfFeed == "BEFORE" %}
    <td>{{ fcrDetail.feedMill.name|default('') }}</td>
    <td>{{ fcrDetail.feedType.name|default('') }}</td>
    <td>{{ fcrDetail.proDate|date('d-m-Y') }}</td>
    <td>{{ fcrDetail.batchNo }}</td>
    {% endif %}
    <td>{{ fcrDetail.remarks }}</td>
    <td>
        <a data-action="{{ path('fcr_detail_delete',{id:fcrDetail.id}) }}" class="btn btn-danger btn-sm remove">x</a>
    </td>
</tr>
{% endfor %}
