{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        {#<li class="breadcrumb-item"> <a href="{{ path('crm_chick') }}">  {{ 'Chick Life Cycle'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Cattle Life Cycle'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {#<h3 style="text-align: center"></h3>#}
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>

                            <th scope="col" rowspan="2">S/N</th>
                            <th scope="col" rowspan="2">Employee Name</th>
                            <th scope="col" rowspan="2">Agent Name</th>
                            {#<th scope="col" rowspan="2">Address</th>#}
                            <th scope="col" colspan="3">Farmer</th>

                            {#<th scope="col" rowspan="2">Bird Type</th>#}
                            <th scope="col" rowspan="2">Reporting Date</th>
                            <th scope="col" rowspan="2">Hatchery</th>
                            <th scope="col" rowspan="2">Breed</th>
                            <th scope="col" rowspan="2">Feed</th>
                            <th scope="col" rowspan="2">Remarks</th>
                            <th class=" text-center" scope="col" rowspan="2"><i class="feather icon-settings"></i></th>

                        </tr>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Mobile</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.employee.name|default('') }}</td>
                                <td>{{ entity.agent.name|default('') }}</td>
                                {#<td>{{ entity.agent.address|default('') }}</td>#}

                                <td>{{ entity.customer.name|default('') }}</td>
                                {#farmer address#}
                                <td>{{ entity.customer.address|default('') }}</td>

                                <td >{{ entity.customer.mobile|default('') }}</td>

                                {#<td>{{ entity.birdMode }}</td>#}
                                <td>{{ entity.reportingDate|date('d-m-Y') }}</td>
                                <td>{{ entity.hatchery|default('') }}</td>
                                <td>{{ entity.breed|default('') }}</td>
                                <td>{{ entity.feed|default('') }}</td>
                                <td>{{ entity.remarks|default('') }}</td>
                                <td>
                                    <a target="_blank" href="{{ path('crm_cattle_report_detail',{'id':entity.id}) }}" class="btn btn-primary btn-sm">Report</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4,5,6,23],
    'orderable': false
    }]
    });




{% endblock %}
