{% if entities is not empty %}
    <table>
        <thead>
        <tr>
            <th colspan="23">NOURISH POULTRY AND HATCHERY LTD</th>
        </tr>
        <tr>
            <th colspan="23">UTTARA, DHAKA.</th>
        </tr>
        <tr>
            <th colspan="23">LAYER PERFORMANCE REPORT</th>
        </tr>
        <tr>
            <th colspan="23"></th>
        </tr>
        <tr>
            <th colspan="5" align="left">Name of CSO: {{ entities[0].employee.name }}</th>
            <th colspan="5" align="left">Designation: {{ entities[0].employee.designation.name }}</th>
            <th colspan="5" align="left">Region: {{ entities[0].employee.regional.parent.name }}</th>
            <th colspan="8" align="left">Month: {{ entities[0].created|date('F-Y') }}</th>
        </tr>
        <tr>
            <td colspan="23"></td>
        </tr>
        </thead>
    </table>

    <table class="table table-striped table-bordered table-hover" id="datatable">
        <thead class="thead-dark">
        <tr>
            <th scope="col" rowspan="2" class="text-center">Agent's Name</th>
            <th scope="col" rowspan="2" class="text-center">Address</th>
            <th scope="col" rowspan="2" class="text-center">Farmer's Name</th>
            <th scope="col" rowspan="2" class="text-center">Mobile No.</th>
            <th scope="col" rowspan="2" class="text-center">Total birds</th>
            <th scope="col" rowspan="2" class="text-center">Age (Wk)</th>
            <th scope="col" colspan="2" class="text-center">B.Weight (gm)</th>
            <th scope="col" colspan="2" class="text-center">Feed Intake (gm)</th>
            <th scope="col" colspan="2" class="text-center">Egg Production %</th>
            <th scope="col" colspan="2" class="text-center">Egg weight (gm)</th>
            <th scope="col" colspan="4" class="text-center">Feed Information</th>
            <th scope="col" colspan="3" class="text-center">Others Information</th>
            <th scope="col" rowspan="2" class="text-center">Disease</th>
            <th scope="col" rowspan="2" class="text-center">Remarks</th>

        </tr>
        <tr>
            <th scope="col">Achieved</th>
            <th scope="col">Target</th>
            <th scope="col">Feed/bird</th>
            <th scope="col">Target</th>
            <th scope="col">Achieved</th>
            <th scope="col">Target</th>
            <th scope="col">Achieved</th>
            <th scope="col">Stand</th>
            <th scope="col">F.Type</th>
            <th scope="col">P.Date</th>
            <th scope="col">Batch No.</th>
            <th scope="col">Feed Mill</th>
            <th scope="col">Hatchery</th>
            <th scope="col">Breed</th>
            <th scope="col">Color</th>
        </tr>

        </thead>
        <tbody>
            {% for detail in entities %}
                <tr>
                    <td>{{ detail.agent.name|default('N/A') }}</td>
                    <td>{{ detail.agent.address|default('N/A') }}</td>
                    <td>{{ detail.customer.name|default('N/A') }}</td>
                    <td>{{ detail.customer.mobile|default('N/A') }}</td>
                    <td>{{ detail.totalBirds|default(0) }}</td>
                    <td>{{ detail.ageWeek|default(0) }}</td>
                    <td>{{ detail.birdWeightAchieved|default(0) }}</td>
                    <td>{{ detail.birdWeightTarget|default(0) }}</td>
                    <td>{{ detail.feedIntakePerBird|default(0) }}</td>
                    <td>{{ detail.feedTarget|default(0) }}</td>
                    <td>{{ detail.eggProductionAchieved|default(0) }}</td>
                    <td>{{ detail.eggProductionTarget|default(0) }}</td>
                    <td>{{ detail.eggWeightAchieved|default(0) }}</td>
                    <td>{{ detail.eggWeightStand|default(0) }}</td>
                    <td>{{ detail.feedType.name|default('N/A') }}</td>
                    <td>{{ detail.productionDate|date('d-m-Y') }}</td>
                    <td>{{ detail.batchNo|default(0) }}</td>
                    <td>{{ detail.feedMill.name|default('N/A') }}</td>
                    <td>{{ detail.hatchery.name|default('N/A') }}</td>
                    <td>{{ detail.breed.name|default('N/A') }}</td>
                    <td>{{ detail.color.name|default('N/A') }}</td>
                    <td>{{ detail.disease|default('N/A') }}</td>
                    <td>{{ detail.remarks|default('N/A') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
