{% if entities is not empty %}
    <table>
        <thead>
        <tr>
            <th colspan="19">NOURISH POULTRY AND HATCHERY LTD</th>
        </tr>
        <tr>
            <th colspan="19">UTTARA, DHAKA.</th>
        </tr>
        <tr>
            <th colspan="19">LAYER LIFE CYCLE REPORT</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th colspan="6" align="left">Name of Farmer: {{ entities['farmerName']|default('N/A') }}</th>
            <th colspan="6" align="left">Address: {{ entities['farmerAddress']|default('N/A') }}</th>
            <th colspan="7" align="left">Mobile: {{ entities['farmerMobile']|default('N/A') }}</th>
        </tr>
        <tr>
            <th colspan="4" align="left">Total Birds: {{ entities['totalBirds']|default('N/A') }}</th>
            <th colspan="4" align="left">Hatchery Date: {{ entities['hatcheryDate']|date('d-m-Y') }}</th>
            <th colspan="4" align="left">Hatchery: {{ entities['hatcheryName']|default('N/A') }}</th>
            <th colspan="3" align="left">Breed: {{ entities['breedName']|default('N/A') }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    {% for entity in entities %}
        {% if entity is iterable %}
            <table class="table table-striped table-bordered table-hover" id="datatable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" rowspan="2" class="text-center">VisitingDate</th>
                    <th scope="col" rowspan="2" class="text-center">Age (wk)</th>
                    <th scope="col" colspan="3" class="text-center">Birds</th>
                    <th scope="col" colspan="2" class="text-center">Weight</th>
                    <th scope="col" rowspan="2" class="text-center">Uniformity(%)</th>
                    <th scope="col" colspan="2" class="text-center">Feed</th>
                    <th scope="col" colspan="3" class="text-center">Egg Production</th>
                    <th scope="col" colspan="2" class="text-center">Egg Weight</th>
                    <th scope="col" colspan="4" class="text-center">Feed Information</th>
                    <th scope="col" rowspan="2" class="text-center">Vaccine / Medicine</th>
                    <th scope="col" rowspan="2" class="text-center">Remarks</th>
                </tr>

                <tr>
                    <th scope="col" class="text-center">Total Birds</th>
                    <th scope="col" class="text-center">dead bird</th>
                    <th scope="col" class="text-center">Present Bird</th>
                    <th scope="col" class="text-center">Avg. wt (gm)</th>
                    <th scope="col" class="text-center">Target wt (gm)</th>
                    <th scope="col" class="text-center">Feed/bird (gm)</th>
                    <th scope="col" class="text-center">Target feed/bird</th>
                    <th scope="col" class="text-center">Total Eggs</th>
                    <th scope="col" class="text-center">Egg Prod%</th>
                    <th scope="col" class="text-center">Target egg prod%</th>
                    <th scope="col" class="text-center">Actual</th>
                    <th scope="col" class="text-center">Standard</th>
                    <th scope="col" class="text-center">Feed Type</th>
                    <th scope="col" class="text-center">P. Date</th>
                    <th scope="col" class="text-center">Batch No</th>
                    <th scope="col" class="text-center">Feed Mill</th>
                </tr>
                </thead>

                <tbody>

                {% set dead_bird = 0 %}
                {% for detail in entity %}
                    {% set dead_bird = dead_bird + detail.deadBird %}
                    {% set presentBird = detail.totalBirds-dead_bird %}
                    {% set eggProduction = (detail.totalEggs*100)/presentBird %}
                    <tr style="border-bottom: 2px solid #9cc2cb">
                        <td>{{ detail.visitingDate|date('d-m-Y') }}</td>
                        <td>{{ detail.ageWeek|default(0) }}</td>
                        <td>{{ detail.totalBirds|default(0) }}</td>
                        <td>{{ detail.deadBird|default(0) }}</td>
                        <td>{{ presentBird|number_format(0,'.') }}</td>
                        <td>{{ detail.avgWeight|default(0) }}</td>
                        <td>{{ detail.targetWeight|default(0) }}</td>
                        <td>{{ detail.uniformity|default(0) }}</td>
                        <td>{{ detail.feedPerBird|default(0) }}</td>
                        <td>{{ detail.targetFeedPerBird|default(0) }}</td>
                        <td>{{ detail.totalEggs|default(0) }}</td>
                        <td>{{ eggProduction|number_format(2,'.') }}</td>
                        <td>{{ detail.targetEggProduction|default(0) }}</td>
                        <td>{{ detail.eggWeightActual|default(0) }}</td>
                        <td>{{ detail.eggWeightStandard|default(0) }}</td>
                        <td>{{ detail.feedTypeName|default(0) }}</td>
                        <td>{{ detail.productionDate|date('d-m-Y') }}</td>
                        <td>{{ detail.batch_no|default(0) }}</td>
                        <td>{{ detail.feedMillName|default(0) }}</td>
                        <td>{{ detail.medicine|default(0) }}</td>
                        <td>{{ detail.remarks|default(0) }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    {% endfor %}

{% endif %}