{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header p-3">
                    <h5>{{ 'Layer Life Cycle Report'|trans }}</h5>
                    {% if entities is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('crm_layer_life_cycle_report_pdf', {'filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('layer_life_cycle_excel', {'filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body p-1">
                    {{ form_start(searchForm) }}
                    <table class="table table-borderd m-0">
                        <thead class="thead-dark">
                        <tr>
                            <th>
                                {{ form_label(searchForm.startDateCreated, 'Beginning of Month:') }}
                                {{ form_widget(searchForm.startDateCreated,{'id':'start-date'}) }}
                            </th>
                            <th>
                                {{ form_label(searchForm.endDateCreated, 'End of Month:') }}
                                {{ form_widget(searchForm.endDateCreated,{'id':'end-date'}) }}
                            </th>
                            <th>
                                {{ form_label(searchForm.farmer, 'Select Farmer:') }}
                                {{ form_widget(searchForm.farmer) }}
                            </th>
                            <th>{{ form_widget(searchForm.filter,{'attr':{'style':'margin-top: 26px'}}) }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if entities is not empty%}
        <div class="row">
            <div class="card" style="overflow-x: scroll">
                <div class="card-block">
                    <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                    <h5 class="text-center">UTTARA, DHAKA.</h5>
                    <h6 class="text-center">LAYER LIFE CYCLE REPORT</h6>
                    <table class="table table-borderd">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name of Farmer: {{ entities['farmerName']|default('N/A') }}</th>
                                <th>Address: {{ entities['farmerAddress']|default('N/A') }}</th>
                                <th colspan="2">Mobile: {{ entities['farmerMobile']|default('N/A') }}</th>
                            </tr>
                            <tr>
                                <th>Total Birds: {{ entities['totalBirds']|default('N/A') }}</th>
                                <th>Hatchery Date: {{ entities['hatcheryDate']|date('d-m-Y') }}</th>
                                <th>Hatchery: {{ entities['hatcheryName']|default('N/A') }}</th>
                                <th>Breed: {{ entities['breedName']|default('N/A') }}</th>
                            </tr>
                        </thead>
                    </table>
                    {% for entity in entities %}
                        {% if entity is iterable %}
                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" rowspan="2"class="text-center">VisitingDate</th>
                                    <th scope="col" rowspan="2"class="text-center">Age (wk)</th>
                                    <th scope="col" colspan="3"class="text-center">Birds</th>
                                    <th scope="col" colspan="2"class="text-center">Weight</th>
                                    <th scope="col" rowspan="2"class="text-center">Uniformity(%)</th>
                                    <th scope="col" colspan="2"class="text-center">Feed</th>
                                    <th scope="col" colspan="3"class="text-center">Egg Production</th>
                                    <th scope="col" colspan="2"class="text-center">Egg Weight</th>
                                    <th scope="col" colspan="4"class="text-center">Feed Information</th>
                                    <th scope="col" rowspan="2"class="text-center">Vaccine / Medicine</th>
                                    <th scope="col" rowspan="2"class="text-center">Remarks</th>
                                </tr>

                                <tr>
                                    <th scope="col"class="text-center">Total Birds</th>
                                    <th scope="col"class="text-center">dead bird</th>
                                    <th scope="col"class="text-center">Present Bird</th>
                                    <th scope="col"class="text-center">Avg. wt (gm)</th>
                                    <th scope="col"class="text-center">Target wt (gm)</th>
                                    <th scope="col"class="text-center">Feed/bird (gm)</th>
                                    <th scope="col"class="text-center">Target feed/bird</th>
                                    <th scope="col"class="text-center">Total Eggs</th>
                                    <th scope="col"class="text-center">Egg Prod%</th>
                                    <th scope="col"class="text-center">Target egg prod%</th>
                                    <th scope="col"class="text-center">Actual</th>
                                    <th scope="col"class="text-center">Standard</th>
                                    <th scope="col"class="text-center">Feed Type</th>
                                    <th scope="col"class="text-center">P. Date</th>
                                    <th scope="col"class="text-center">Batch No</th>
                                    <th scope="col"class="text-center">Feed Mill</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% set dead_bird = 0 %}
                                    {% for detail in entity %}
                                        {% set dead_bird = dead_bird + detail.deadBird %}
                                        {% set presentBird = detail.totalBirds-dead_bird %}
                                        {% set eggProduction = (detail.totalEggs*100)/presentBird %}
                                        <tr style="border-bottom: 2px solid #9cc2cb">
                                            <td>{{ detail.visitingDate|date('d-m-Y') }}</td>
                                            <td>{{ detail.ageWeek|default(0) }}</td>
                                            <td>{{ detail.totalBirds|default(0) }}</td>
                                            <td>{{ detail.deadBird|default(0) }}</td>
                                            <td>{{ presentBird|number_format(0,'.') }}</td>
                                            <td>{{ detail.avgWeight|default(0) }}</td>
                                            <td>{{ detail.targetWeight|default(0) }}</td>
                                            <td>{{ detail.uniformity|default(0) }}</td>
                                            <td>{{ detail.feedPerBird|default(0) }}</td>
                                            <td>{{ detail.targetFeedPerBird|default(0) }}</td>
                                            <td>{{ detail.totalEggs|default(0) }}</td>
                                            <td>{{ eggProduction|number_format(2,'.') }}</td>
                                            <td>{{ detail.targetEggProduction|default(0) }}</td>
                                            <td>{{ detail.eggWeightActual|default(0) }}</td>
                                            <td>{{ detail.eggWeightStandard|default(0) }}</td>
                                            <td>{{ detail.feedTypeName|default(0) }}</td>
                                            <td>{{ detail.productionDate|date('d-m-Y') }}</td>
                                            <td>{{ detail.batch_no|default(0) }}</td>
                                            <td>{{ detail.feedMillName|default(0) }}</td>
                                            <td>{{ detail.medicine|default(0) }}</td>
                                            <td>{{ detail.remarks|default(0) }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );
    $('#end-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );

{% endblock %}