{% extends 'admin/layout.html.twig' %}

{% block body %}

{#    {{ dump(entities) }}#}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('layer_life_cycle') }}">  {{ 'Layer life Cycle'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Layer Performance'|trans }}</h5>
                    {% if entities is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('crm_layer_performance_report_pdf', {'filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('layer_performance_report_excel',{'filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_start(searchForm) }}
                <table class="table table-borderd">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                {{ form_label(searchForm.startDateCreated,'Starting Date:') }}
                                {{ form_widget(searchForm.startDateCreated,{'id': 'start-date'}) }}
                            </th>
                            <th>
                                {{ form_label(searchForm.endDateCreated,'Ending Date:') }}
                                {{ form_widget(searchForm.endDateCreated,{'id': 'end-date'}) }}
                            </th>
                            <th>
                                {{ form_label(searchForm.employee,'Employee Name:') }}
                                {{ form_widget(searchForm.employee) }}
                            </th>
                            <th>{{ form_widget(searchForm.filter,{'attr':{'style': 'margin-top: 18px'}}) }}</th>
                        </tr>
                    </thead>
                </table>
{#                {{ form_end(searchForm) }}#}
            </div>
        </div>
        {% if entities is not empty %}
        <div class="row">
            <div class="card">
                <div class="card-block pt-5">
                    <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                    <h5 class="text-center">UTTARA, DHAKA.</h5>
                    <h6 class="text-center">LAYER PERFORMANCE REPORT</h6>
                    <table class="table table-borderd">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name of CSO: {{ entities[0].employee.name}}</th>
                            <th>Designation: {{ entities[0].employee.designation.name}}</th>
                            <th>Region: {{ entities[0].employee.regional.parent.name}}</th>
                            <th>Month: {{ entities[0].created|date('F-Y') }}</th>
                        </tr>
                        </thead>
                    </table>

                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" rowspan="2" class="text-center">Agent's Name</th>
                            <th scope="col" rowspan="2" class="text-center">Address</th>
                            <th scope="col" rowspan="2" class="text-center">Farmer's Name</th>
                            <th scope="col" rowspan="2" class="text-center">Mobile No.</th>
                            <th scope="col" rowspan="2" class="text-center">Total birds</th>
                            <th scope="col" rowspan="2" class="text-center">Age (Wk)</th>
                            <th scope="col" colspan="2" class="text-center">B.Weight (gm)</th>
                            <th scope="col" colspan="2" class="text-center">Feed Intake (gm)</th>
                            <th scope="col" colspan="2" class="text-center">Egg Production %</th>
                            <th scope="col" colspan="2" class="text-center">Egg weight (gm)</th>
                            <th scope="col" colspan="4" class="text-center">Feed Information</th>
                            <th scope="col" colspan="3" class="text-center">Others Information</th>
                            <th scope="col" rowspan="2" class="text-center">Disease</th>
                            <th scope="col" rowspan="2" class="text-center">Remarks</th>

                        </tr>
                        <tr>
                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Feed/bird</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Stand</th>
                            <th scope="col">F.Type</th>
                            <th scope="col">P.Date</th>
                            <th scope="col">Batch No.</th>
                            <th scope="col">Feed Mill</th>
                            <th scope="col">Hatchery</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Color</th>
                        </tr>

                        </thead>
                        <tbody>
                            {% for detail in entities %}
                                <tr>
                                    <td>{{ detail.agent.name|default('N/A') }}</td>
                                    <td>{{ detail.agent.address|default('N/A') }}</td>
                                    <td>{{ detail.customer.name|default('N/A') }}</td>
                                    <td>{{ detail.customer.mobile|default('N/A') }}</td>
                                    <td>{{ detail.totalBirds|default(0) }}</td>
                                    <td>{{ detail.ageWeek|default('') }}</td>
                                    <td>{{ detail.birdWeightAchieved|default(0) }}</td>
                                    <td>{{ detail.birdWeightTarget|default(0) }}</td>
                                    <td>{{ detail.feedIntakePerBird|default(0) }}</td>
                                    <td>{{ detail.feedTarget|default(0) }}</td>
                                    <td>{{ detail.eggProductionAchieved|default(0) }}</td>
                                    <td>{{ detail.eggProductionTarget|default(0) }}</td>
                                    <td>{{ detail.eggWeightAchieved|default(0) }}</td>
                                    <td>{{ detail.eggWeightStand|default(0) }}</td>
                                    <td>{{ detail.feedType.name|default('N/A') }}</td>
                                    <td>{{ detail.productionDate|date('d-m-Y') }}</td>
                                    <td>{{ detail.batchNo|default(0) }}</td>
                                    <td>{{ detail.feedMill.name|default('N/A') }}</td>
                                    <td>{{ detail.hatchery.name|default('N/A') }}</td>
                                    <td>{{ detail.breed.name|default('N/A') }}</td>
                                    <td>{{ detail.color.name|default('N/A') }}</td>
                                    <td>{{ detail.disease|default('N/A') }}</td>
                                    <td>{{ detail.remarks|default('N/A') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
        {% endif %}
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/layer-performance.js') }}"></script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );
    $('#end-date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );

    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,3],
    'orderable': false
    }]
    });
{% endblock %}

