{% extends 'base-pdf.html.twig' %}
{% block body %}
    {% if entities is not empty %}
        <div style="text-align: center">
            <p class="title-h4">NOURISH POULTRY AND HATCHERY LTD</p>
            <p class="title-h5">UTTARA, DHAKA.</p>
            <p class="title-h6">LAYER PERFORMANCE REPORT</p>
        </div>
        <table>
            <thead>
            <tr>
                <th align="left">Name of CSO: {{ entities[0].employee.name}}</th>
                <th align="left">Designation: {{ entities[0].employee.designation.name}}</th>
                <th align="left">Region: {{ entities[0].employee.regional.parent.name}}</th>
                <th align="left">Month: {{ entities[0].created|date('F-Y') }}</th>
            </tr>
            </thead>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th scope="col" rowspan="2" class="text-center">Agent's Name</th>
                <th scope="col" rowspan="2" class="text-center">Address</th>
                <th scope="col" rowspan="2" class="text-center">Farmer's Name</th>
                <th scope="col" rowspan="2" class="text-center">Mobile No.</th>
                <th scope="col" rowspan="2" class="text-center">Total birds</th>
                <th scope="col" rowspan="2" class="text-center">Age (Wk)</th>
                <th scope="col" colspan="2" class="text-center">B.Weight (gm)</th>
                <th scope="col" colspan="2" class="text-center">Feed Intake (gm)</th>
                <th scope="col" colspan="2" class="text-center">Egg Production %</th>
                <th scope="col" colspan="2" class="text-center">Egg weight (gm)</th>
                <th scope="col" colspan="4" class="text-center">Feed Information</th>
                <th scope="col" colspan="3" class="text-center">Others Information</th>
                <th scope="col" rowspan="2" class="text-center">Disease</th>
                <th scope="col" rowspan="2" class="text-center">Remarks</th>

            </tr>
            <tr>
                <th scope="col">Achieved</th>
                <th scope="col">Target</th>
                <th scope="col">Feed/bird</th>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
                <th scope="col">Stand</th>
                <th scope="col">F.Type</th>
                <th scope="col">P.Date</th>
                <th scope="col">Batch No.</th>
                <th scope="col">Feed Mill</th>
                <th scope="col">Hatchery</th>
                <th scope="col">Breed</th>
                <th scope="col">Color</th>
            </tr>

            </thead>
            <tbody>
                {% for detail in entities %}
                    <tr>
                        <td>{{ detail.agent.name|default('N/A') }}</td>
                        <td>{{ detail.agent.address|default('N/A') }}</td>
                        <td>{{ detail.customer.name|default('N/A') }}</td>
                        <td>{{ detail.customer.mobile|default('N/A') }}</td>
                        <td>{{ detail.totalBirds|default(0) }}</td>
                        <td>{{ detail.ageWeek|default(0) }}</td>
                        <td>{{ detail.birdWeightAchieved|default(0) }}</td>
                        <td>{{ detail.birdWeightTarget|default(0) }}</td>
                        <td>{{ detail.feedIntakePerBird|default(0) }}</td>
                        <td>{{ detail.feedTarget|default(0) }}</td>
                        <td>{{ detail.eggProductionAchieved|default(0) }}</td>
                        <td>{{ detail.eggProductionTarget|default(0) }}</td>
                        <td>{{ detail.eggWeightAchieved|default(0) }}</td>
                        <td>{{ detail.eggWeightStand|default(0) }}</td>
                        <td>{{ detail.feedType.name|default('N/A') }}</td>
                        <td>{{ detail.productionDate|date('d-m-Y') }}</td>
                        <td>{{ detail.batchNo|default(0) }}</td>
                        <td>{{ detail.feedMill.name|default('N/A') }}</td>
                        <td>{{ detail.hatchery.name|default('N/A') }}</td>
                        <td>{{ detail.breed.name|default('N/A') }}</td>
                        <td>{{ detail.color.name|default('N/A') }}</td>
                        <td>{{ detail.disease|default('N/A') }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- [ Main Content ] end -->
    {% endif %}
{% endblock %}