{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'New Farmer Touch Report'|trans }}</h5>
                    {#<div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_expense_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Schedule Visit</th>
                            <th scope="col">Visiting Area</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Conveyance</th>
                            <th scope="col">Daily Allowance</th>
                            <th scope="col">Hotel Rent</th>
                            <th scope="col">Photostate</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Maintenace</th>
                            <th scope="col">Toll Bill</th>
                            <th scope="col">Service Charge</th>
                            <th scope="col">Others</th>

                            {#<th scope="col text-center"><i class="feather icon-settings"></i></th>#}
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
