{% if entities is not empty %}
    <div style="text-align: center">
            <p>{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</p>
            <p>{{ 'UTTARA, DHAKA.'|trans }}</p>
            <p>{{ 'List of New Farm Introduce to Nourish Family (Min. 1farm each month)'|trans }}</p>
    </div>
    <table width="100%">
        <thead>
        <tr>
            <th colspan="5" align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
            <th colspan="5" align="left">{{ 'Designation'|trans }}: {{ filterBy.employee.designation.name|default('N/A') }}</th>
            <th colspan="5" align="left">{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
            <th colspan="5" align="left">{{ 'ID'|trans }}: {{ filterBy.employee.id|default('N/A') }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    <table border="1" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL No.'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farmers'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No.'|trans }}</th>
            <th scope="col" colspan="{{ species|length }}" style="text-align: center">{{ 'Cultute Species & Quentity'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Present Agent Information'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Previous Agent Information'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
        </tr>

        <tr>
            {% if species is not empty %}
                {% for poultryType in species %}
                    <th scope="col">{{ poultryType.name }}</th>
                {% endfor %}
            {% endif %}
            <th scope="col">{{ 'Agent\'s Name'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Mobile No.'|trans }}</th>
            <th scope="col">{{ 'Previous Agent\'s Name'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Previous Feed Name'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for key, entity in entities %}
            {% if entity is iterable %}
                {% for detail in entity %}
                    <tr>
                        {% if loop.index==1 %}
                            <td rowspan="{{ loop.index==1?entity|length:'' }}">{{ key }}</td>
                        {% endif %}
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.farmerName|default('N/A') }}</td>
                        <td>{{ detail.farmerAddress|default('N/A') }}</td>
                        <td>{{ detail.farmerMobile|default('N/A') }}</td>
                        {% for item in detail.cultureSpeciesItemAndQty|json_decode() %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td>{{ detail.agentName|default('N/A') }}</td>
                        <td>{{ detail.agentAddress|default('N/A') }}</td>
                        <td>Present Agent Info Feed Name</td>
                        <td>{{ detail.previousAgentName|default('N/A') }}</td>
                        <td>{{ detail.previousAgentAddress|default('N/A') }}</td>
                        <td>{{ detail.previousFeedName|default('N/A') }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
