{% if entities is not empty %}
    <table>
        <thead>
        <tr>
            <th colspan="15" align="center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</th>
        </tr>
        <tr>
            <th colspan="15" align="center">{{ 'UTTARA, DHAKA.'|trans }}</th>
        </tr>
        <tr>
            <th colspan="15" align="center">{{ 'Introduce New Farmer List of Nourish'|trans }}</th>
        </tr>
        <tr>
            <th colspan="8" align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
            <th colspan="8" align="right">{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Month'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'SL No.'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farmers'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile'|trans }}</th>
            <th scope="col" colspan="{{ (species|length) + 1 }}" style="text-align: center">{{ 'Capacity'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Present Agent Information'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Previous Agent Information'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Remarks'|trans }}</th>
        </tr>

        <tr>
            {% if species is not empty %}
                {% for poultryType in species %}
                    <th scope="col">{{ poultryType.name }}</th>
                {% endfor %}
            {% endif %}
            <th scope="col">{{ 'Total'|trans }}</th>
            <th scope="col">{{ 'Name of Agents'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Name of Feed'|trans }}</th>
            <th scope="col">{{ 'Name of Previous Agents'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Name of Previous Feed'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for key, entity in entities %}
            {% if entity is iterable %}
                {% for detail in entity %}
                    {% set sum = 0 %}
                    <tr>
                        {% if loop.index==1 %}
                            <td rowspan="{{ loop.index==1?entity|length:'' }}">{{ key }}</td>
                        {% endif %}
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.farmerName|default('N/A') }}</td>
                        <td>{{ detail.farmerAddress|default('N/A') }}</td>
                        <td>{{ detail.farmerMobile|default('N/A') }}</td>
                        {% for item in detail.cultureSpeciesItemAndQty|json_decode() %}
                            {% set sum = sum + item %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td>{{ sum }}</td>
                        <td>{{ detail.agentName|default('N/A') }}</td>
                        <td>{{ detail.agentAddress|default('N/A') }}</td>
                        <td>Present Agent Info Feed Name</td>
                        <td>{{ detail.previousAgentName|default('N/A') }}</td>
                        <td>{{ detail.previousAgentAddress|default('N/A') }}</td>
                        <td>{{ detail.previousFeedName|default('N/A') }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
