<table>
    <thead>
    <tr>
        <th colspan="25">NOURISH POULTRY AND HATCHERY LTD</th>
    </tr>
    <tr>
        <th colspan="25">UTTARA, DHAKA.</th>
    </tr>
    <tr>
        <th colspan="25">{{ entities['life_cycle']|upper}} LIFE CYCLE REPORT</th>
    </tr>
    <tr>
        <th colspan="25"></th>
    </tr>
    <tr>
        <th colspan="5" align="left">Officer's Name: {{ entities['officer_name'] }}</th>
        <th colspan="5" align="left">Region: {{ entities['officer_region'] }}</th>
    </tr>
    <tr>
        <th colspan="25"></th>
    </tr>
    </thead>
</table>

{% for month, entity in entities %}
    {% if entity is iterable %}
        <table>
            <thead>
            <tr>
                <th>{{ month }}</th>
            </tr>
            </thead>
        </table>
        <table class="table table-striped table-bordered table-hover" id="datatable">
            <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2" style="text-align: center">Agent</th>
                <th scope="col" colspan="3" style="text-align: center">Farmer</th>
                <th scope="col" rowspan="2">H.Date</th>
                <th scope="col" rowspan="2">VisitingWeek</th>
                <th scope="col" rowspan="2">Total Birds</th>
                <th scope="col" rowspan="2">Age (Day)</th>
                <th scope="col" colspan="2" style="text-align: center">Mortality</th>
                <th scope="col" colspan="2" style="text-align: center">Weight (gm)</th>
                <th scope="col" colspan="3" style="text-align: center">Feed Consumtion</th>
                <th scope="col" colspan="2" style="text-align: center">F.C.R</th>
                <th scope="col" rowspan="2">Hatchery</th>
                <th scope="col" rowspan="2">Breed</th>
                <th scope="col" rowspan="2">Feed</th>
                <th scope="col" rowspan="2">Feed Type</th>
                <th scope="col" rowspan="2">Pro. Date</th>
                <th scope="col" rowspan="2">Batch No.</th>
                <th scope="col" rowspan="2">Remarks</th>
            </tr>

            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Pes</th>
                <th scope="col">%</th>
                <th scope="col">Standard</th>
                <th scope="col">Achieved</th>
                <th scope="col">Total (kg)</th>
                <th scope="col">Per Bird (gm)</th>
                <th scope="col">Standard</th>
                <th scope="col">Without M</th>
                <th scope="col">With M</th>
            </tr>
            </thead>

            <tbody>
            {% for monthDetail in entity %}
                {% for detail in monthDetail.crmChickLifeCycleDetails %}
                    <tr>
                        {#                                                    <td>{{ loop.index }}</td>#}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ loop.index==1?monthDetail.customer.agent.name|default(''):'' }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ loop.index==1?monthDetail.customer.agent.address|default(''):'' }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ loop.index==1?monthDetail.customer.name|default(''):'' }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ loop.index==1?monthDetail.customer.address|default(''):'' }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ loop.index==1?monthDetail.customer.mobile|default(''):'' }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ monthDetail.hatchingDate|date('d-m-Y') }}</td>
                        {% endif %}
                        <td>{{ detail.visitingWeek|default('N/A') }}</td>
                        <td>{{ detail.totalBirds|default(0) }}</td>
                        <td>{{ detail.ageDays|default(0) }}</td>
                        <td>{{ detail.mortalityPes|default(0) }}</td>
                        <td>{{ detail.mortalityPercent|default(0) }}</td>
                        <td>{{ detail.weightStandard|default(0) }}</td>
                        <td>{{ detail.weightAchieved|default(0) }}</td>
                        <td>{{ detail.feedTotalKg|default(0) }}</td>
                        <td>{{ detail.perBird|default(0) }}</td>
                        <td>{{ detail.feedStandard|default(0) }}</td>
                        <td>{{ detail.withoutMortality|default(0) }}</td>
                        <td>{{ detail.withMortality|default(0) }}</td>
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ monthDetail.hatchery.name|default('N/A') }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ monthDetail.breed.name|default('N/A') }}</td>
                        {% endif %}
                        {% if loop.index==1 %}
                            <td valign="middle" rowspan="{{ loop.index==1?monthDetail.crmChickLifeCycleDetails|length:0 }}">{{ monthDetail.freed.name|default('N/A') }}</td>
                        {% endif %}
                        <td>{{ monthDetail.freed.settingType|default('N/A') }}</td>
                        <td>{{ detail.proDate|date('d-m-Y') }}</td>
                        <td>{{ detail.batchNo|default('N/A') }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}