{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('fcr') }}">  {{ 'FCR'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'FCR'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            {#<a href="{{ path('fcr_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>#}
                            <a href="{{ path('fcr') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'FCR'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {#<h3 style="text-align: center">{{ entities.fcrOfFeed }}</h3>#}
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">FCR OF NOURISH FEED </th>
                            <th scope="col">Reporting Date </th>
                            <th scope="col text-center" rowspan="1"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for entity in entities %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.employee.name }}</td>
                            <td>{{ entity.fcrOfFeed }}</td>
                            <td>{{ entity.reportingMonth|date("m-Y") }}</td>
                            <td>
                                {#<a class="btn btn-mini yellow-bg white-font" href="{{ path('fcr_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>#}
                                {#<a data-action='{{ path('fcr_details_modal',{'id': entity is not empty?entity.id:''}) }}' href='?process=postView_{{ entity.id }}&check=show#modal' id='postView_{{ entity.id }}' >{{ 'Generate Report'|trans }}</a>#}
                                {#<a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('fcr_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>#}
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm//css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fcr.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}
