<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{purpose.name}}</div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form farmer_training_report_section">
        {{ form_start(form, {'attr': {'method':'post', 'action': path('farmer_training_report_new_modal',{'id':agent.id,'purpose':purpose.id }),'class': 'form-horizontal right','id':'farmer_training_report_form'}}) }}
        <div class="row form-body ">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>{{purpose.name}}</h4>
                        <h4>{{ 'Agent'|trans }}: {{ agent.name }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Training Date'|trans }}</label>
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                <div class="date_section">
                                    {{ form_widget(form.training_date) }}
                                    {#<input autocomplete="off" type="text" name="reporting_date" class="form-control datePicker" value="{{ entity.reportingDate?entity.reportingDate|date("d-m-Y"):'' }}">#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Report Type'|trans }}</label>
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.breed_name) }}
                                {{ form_errors(form.breed_name) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label col-md-4">{{ 'Farmers'|trans }}</label>
                            <div class="col-md-8">
                                <select name="farmers[]" class="form-control multi-select2-farmer" required multiple>

                                    {#<option value="">Select Farmer</option>#}
                                    {% for index, items in farmers %}
                                        <optgroup label="{{ index }}">

                                            {% for farmer in items %}
                                                <option value="{{farmer['id']}}"> {{farmer['name']}} </option>
                                            {% endfor %}
                                        </optgroup>

                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.training_topics, 'Topics'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.training_topics) }}
                                {{ form_errors(form.training_topics) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.remarks, 'Remarks'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.remarks) }}
                                {{ form_errors(form.remarks) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-form-label col-md-4">{{ 'Training Materials'|trans }}</label>
                            <div style="text-align: left; line-height: 30px;" id="" class="col-md-8 training_materials">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Material Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody id="training_materials"></tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label col-md-4">{{ 'Capacity'|trans }}</label>
                            <div style="text-align: left; line-height: 30px;" id="" class="col-md-8">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Name'|trans }}</th>
                                        <th>{{ 'Capacity'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="species_capacity"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="col-md-6 ">
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                            <button title="Save" type="button" class="btn btn-primary btn-sm farmer_training_report_button"><i class="fa fa-save"></i> {{ 'label.save.continue'|trans }}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>
