{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('layer_life_cycle') }}">  {{ 'Layer life Cycle'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Layer Performance'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('layer_performance_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('layer_performance') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Layer Performance'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" rowspan="2">S/N</th>
                            <th scope="col" rowspan="2">Agent's Name</th>
                            <th scope="col" colspan="2">Farmer</th>
                            <th scope="col" rowspan="2">Total Birds</th>
                            <th scope="col" rowspan="2">Age(wk)</th>
                            <th scope="col" colspan="2">B.Weight(gm)</th>
                            <th scope="col" colspan="2">Feed Intake(gm)</th>
                            <th scope="col" colspan="2">Egg Production%</th>
                            <th scope="col" colspan="2">Egg Weight(gm)</th>
                            <th scope="col" colspan="4">Feed Information</th>
                            <th scope="col" colspan="3">Others Information</th>
                            <th scope="col" rowspan="2">Disease</th>
                            <th scope="col" rowspan="2">Remarks</th>
                            <th scope="col text-center" rowspan="2"><i class="feather icon-settings"></i></th>
                        </tr>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>

                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Feed/bird</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Stand</th>
                            <th scope="col">F.Type</th>
                            <th scope="col">P.Date</th>
                            <th scope="col">Batch No</th>
                            <th scope="col">Feed Mill</th>
                            <th scope="col">Hatchery</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Color</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for entity in entities %}

                            <tr>
                            <td> {{ loop.index }} </td>
                            <td> {{ entity.agent.name |default('') }} </td>
                            <td> {{ entity.customer.name |default('') }} </td>
                            <td >{% if entity.customer is defined and  entity.customer is not empty %}{{ entity.customer.mobile }}{% endif %}</td><td> {{ entity.totalBirds }} </td>
                            <td> {{ entity.ageWk }} </td>
                            <td> {{ entity.birdWeightAchieved }} </td>
                            <td> {{ entity.birdWeightTarget }} </td>
                            <td> {{ entity.feedIntakePerBird }} </td>
                            <td> {{ entity.feedTarget }} </td>

                            <td> {{ entity.eggProductionAchieved }} </td>
                            <td> {{ entity.eggProductionTarget }} </td>

                            <td> {{ entity.eggWeightAchieved }} </td>
                            <td> {{ entity.eggWeightStand }} </td>

                            <td> {{ entity.feedType }} </td>
                            <td> {{ entity.productionDate }} </td>
                            <td> {{ entity.BatchNo }} </td>
                            <td> {{ entity.feedMill }} </td>

                            <td> {{ entity.hatchery }} </td>
                            <td> {{ entity.breed }} </td>
                            <td> {{ entity.color }} </td>



                            <td> {{ entity.disease }} </td>
                            <td> {{ entity.remarks }} </td>

                            <td>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('layer_life_cycle_details_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}

