{% extends 'admin/layout.html.twig' %}

{% block body %}

{#    {{ dump(entities) }}#}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('layer_life_cycle') }}">  {{ 'Layer life Cycle'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Layer Performance'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            {#<a href="{{ path('layer_performance_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>#}
                            {#<a href="{{ path('layer_performance') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Layer Performance'|trans }}</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_start(searchForm) }}
                <table class="table table-borderd">
                    <thead class="thead-dark">
                        <th>{{ form_widget(searchForm.startDate,{'id': 'start-date'}) }}</th>
                        <th>{{ form_widget(searchForm.endDate,{'id': 'end-date'}) }}</th>
                        <th>{{ form_widget(searchForm.employee) }}</th>
                        <th>{{ form_widget(searchForm.filter) }}</th>
                    </thead>
                </table>
                {{ form_end(searchForm) }}
            </div>
        </div>
        {% if entities is not empty %}
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" rowspan="2" class="text-center">Agent's Name</th>
                            <th scope="col" rowspan="2" class="text-center">Address</th>
                            <th scope="col" rowspan="2" class="text-center">Farmer's Name</th>
                            <th scope="col" rowspan="2" class="text-center">Mobile No.</th>
                            <th scope="col" rowspan="2" class="text-center">Total birds</th>
                            <th scope="col" rowspan="2" class="text-center">Age (Wk)</th>
                            <th scope="col" colspan="2" class="text-center">B.Weight (gm)</th>
                            <th scope="col" colspan="2" class="text-center">Feed Intake (gm)</th>
                            <th scope="col" colspan="2" class="text-center">Egg Production %</th>
                            <th scope="col" colspan="2" class="text-center">Egg weight (gm)</th>
                            <th scope="col" colspan="4" class="text-center">Feed Information</th>
                            <th scope="col" colspan="3" class="text-center">Others Information</th>
                            <th scope="col" rowspan="2" class="text-center">Disease</th>
                            <th scope="col" rowspan="2" class="text-center">Remarks</th>

                        </tr>
                        <tr>
                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Feed/bird</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Target</th>
                            <th scope="col">Achieved</th>
                            <th scope="col">Stand</th>
                            <th scope="col">F.Type</th>
                            <th scope="col">P.Date</th>
                            <th scope="col">Batch No.</th>
                            <th scope="col">Feed Mill</th>
                            <th scope="col">Hatchery</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Color</th>
                        </tr>

                        </thead>
                        <tbody>

{#                                {% for entity in entities %}#}

{#                                    <tr>#}
{#                                        <td> {{ loop.index }} </td>#}
{#                                        <td> {{ entity.employee.name |default('') }} </td>#}
{#                                        <td> {{ entity.reportingMonth|date('d-m-Y') }} </td>#}
{#                                        <td>#}
{#                                            <a class="btn btn-primary btn-sm" href=""><i class="feather icon-edit"></i> {{ 'Report'|trans }}</a>#}
{#                                            #}{#<a data-action='{{ path('layer_performance_details_modal',{'id': entity is not empty?entity.id:''}) }}' href='?process=postView_{{ entity.id }}&check=show#modal' id='postView_{{ entity.id }}' >{{ 'Generate Report'|trans }}</a>#}
{#                                            #}{#<a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('layer_performance_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>#}
{#                                        </td>#}

{#                                    </tr>#}
{#                                {% endfor %}#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
        {% endif %}
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/layer-performance.js') }}"></script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );
    $('#end-date').datepicker(
        {
            dateFormat: 'yy-mm-dd'
        }
    );

    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,3],
    'orderable': false
    }]
    });
{% endblock %}

