{% if entities is not empty %}
    <table width="100%">
        <thead>
        <tr>
            <th colspan="18" align="center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</th>
        </tr>
        <tr>
            <th colspan="18" align="center">{{ 'UTTARA, DHAKA.'|trans }}</th>
        </tr>
        <tr>
            <th colspan="18" align="center">{{ 'Cattle Farm Visit Report'|trans }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    <table width="100%">
        <thead>
        <tr>
            <th colspan="6" align="left">{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('N/A') }}</th>
            <th colspan="6" align="left">{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
            <th colspan="6" align="left">{{ 'Month'|trans }}: {{ entities[0].visitingDate|date('F-Y') }}</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Visiting Date'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farm'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farmer(Contact Person'|trans }})</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No.'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Address'|trans }}</th>
            <th scope="col" colspan="3" style="text-align: center">{{ 'Cattle Population'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Avg Milk Yield(Ltr.) per day'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Conception Rate(%)'|trans }}</th>
            <th scope="col" colspan="2" style="text-align: center">{{ 'Fodder(Yes/No)'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Type of Concentrate Feed'|trans }}</th>
            <th scope="col" colspan="2" style="text-align: center">{{ 'Market Price'|trans }}</th>
            <th scope="col" rowspan="2" style="text-align: center">{{ 'Comment'|trans }}</th>
        </tr>

        <tr>
            <th scope="col" style="text-align: center">{{ 'Village'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Upazila'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'District'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Ox'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Cow'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Calf'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Green Grass'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Straw'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Milk(per liter)'|trans }}</th>
            <th scope="col" style="text-align: center">{{ 'Meat(per kg)'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center">{{ entity.visitingDate|date('d-m-Y') }}</td>
                <td align="center">{{ entity.customerName|default('') }}</td>
                <td align="center">{{ entity.customerName|default('') }}</td>
                <td align="center">{{ entity.customerMobile|default('') }}</td>
                <td align="center">{{ entity.customerAddress|default('') }}</td>
                <td align="center">{{ entity.customerUpazila|default('') }}</td>
                <td align="center">{{ entity.customerDistrict|default('') }}</td>
                <td align="center">{{ entity.cattlePopulationOx|default('') }}</td>
                <td align="center">{{ entity.cattlePopulationCow|default('') }}</td>
                <td align="center">{{ entity.cattlePopulationCalf|default('') }}</td>
                <td align="center">{{ entity.avgMilkYieldPerDay|default('') }}</td>
                <td align="center">{{ entity.conceptionRate|default('') }}</td>
                <td align="center">{{ entity.fodderGreenGrassKg|default('') }}</td>
                <td align="center">{{ entity.fodderStrawKg|default('') }}</td>
                <td align="center">{{ entity.typeOfConcentrateFeed|default('') }}</td>
                <td align="center">{{ entity.marketPriceMilkPerLiter|default('') }}</td>
                <td align="center">{{ entity.marketPriceMeatPerKg|default('') }}</td>
                <td align="center">{{ entity.comments|default('') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}