{% extends 'admin/layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3">
                <h5>{{ 'Weekly Cattle Farm Visit Report'|trans }}</h5>
                {% if entities is not empty %}
                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                        <a target="_blank" href="{{ path('cattle_farm_visit_report_pdf',{'filterBy':filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                        <a target="_blank" href="{{ path('cattle_farm_visit_report_excel',{'filterBy':filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-1">
                {{ form_start(searchForm) }}
                <table class="table table-borderd m-0">
                    <thead class="thead-dark">
                    <tr>
                        <th>
                            {{ form_label(searchForm.startDateCreated, 'Beginning of Month:') }}
                            {{ form_widget(searchForm.startDateCreated, {'id':'start-date'}) }}
                        </th>
                        <th>
                            {{ form_label(searchForm.endDateCreated, 'End of Month:') }}
                            {{ form_widget(searchForm.endDateCreated, {'id':'end-date'}) }}
                        </th>
                        <th>
                            {{ form_label(searchForm.employee, 'Select Employee:') }}
                            {{ form_widget(searchForm.employee) }}
                        </th>
                        <th>
                            {{ form_widget(searchForm.filter,{'attr':{'style':'margin-top:18px'}}) }}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
    {% if entities is not empty %}
        <div class="row">
            <div class="col">
                <div class="card" style="overflow-x: scroll">
                    <div class="card-body">
                        <h3 class="text-center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3>
                        <h5 class="text-center">{{ 'UTTARA, DHAKA.'|trans }}</h5>
                        <h6 class="text-center">{{ 'Cattle Farm Visit Report'|trans }}</h6>
                        <table class="table table-borderd">
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ 'Name of CSO'|trans }}: {{ filterBy.employee.name|default('') }}</th>
                                <th>{{ 'Region'|trans }}: {{ filterBy.employee.regional.name|default('N/A') }}</th>
                                <th class="text-right">{{ 'Month'|trans }}: {{ entities[0].visitingDate|date('F-Y') }}</th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Visiting Date'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farm'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Name of Farmer(Contact Person'|trans }})</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Mobile No.'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'Address'|trans }}</th>
                                <th scope="col" colspan="3" style="text-align: center">{{ 'Cattle Population'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Avg Milk Yield(Ltr.) per day'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Conception Rate(%)'|trans }}</th>
                                <th scope="col" colspan="2" style="text-align: center">{{ 'Fodder(Yes/No)'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Type of Concentrate Feed'|trans }}</th>
                                <th scope="col" colspan="2" style="text-align: center">{{ 'Market Price'|trans }}</th>
                                <th scope="col" rowspan="2" style="text-align: center">{{ 'Comment'|trans }}</th>
                            </tr>

                            <tr>
                                <th scope="col" style="text-align: center">{{ 'Village'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Upazila'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'District'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Ox'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Cow'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Calf'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Green Grass'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Straw'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Milk(per liter)'|trans }}</th>
                                <th scope="col" style="text-align: center">{{ 'Meat(per kg)'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.visitingDate|date('d-m-Y') }}</td>
                                    <td>{{ entity.customerName|default('N/A') }}</td>
                                    <td>{{ entity.customerName|default('N/A') }}</td>
                                    <td>{{ entity.customerMobile|default('N/A') }}</td>
                                    <td>{{ entity.customerAddress|default('N/A') }}</td>
                                    <td>{{ entity.customerUpazila|default('N/A') }}</td>
                                    <td>{{ entity.customerDistrict|default('N/A') }}</td>
                                    <td>{{ entity.cattlePopulationOx|default('N/A') }}</td>
                                    <td>{{ entity.cattlePopulationCow|default('N/A') }}</td>
                                    <td>{{ entity.cattlePopulationCalf|default('N/A') }}</td>
                                    <td>{{ entity.avgMilkYieldPerDay|default('N/A') }}</td>
                                    <td>{{ entity.conceptionRate|default('N/A') }}</td>
                                    <td>{{ entity.fodderGreenGrassKg|default('N/A') }}</td>
                                    <td>{{ entity.fodderStrawKg|default('N/A') }}</td>
                                    <td>{{ entity.typeOfConcentrateFeed|default('N/A') }}</td>
                                    <td>{{ entity.marketPriceMilkPerLiter|default('N/A') }}</td>
                                    <td>{{ entity.marketPriceMeatPerKg|default('N/A') }}</td>
                                    <td>{{ entity.comments|default('N/A') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

    $('#start-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );
    $('#end-date').datepicker(
    {
    dateFormat: 'yy-mm-dd'
    }
    );
{% endblock %}

